[2012-09-21 22:29] chadrockey opened #1 "Kinematics Tool GUI - Reduce Orientation Ambiguity"
It took me about 5 minutes of trial and error to realize that the orientation R,P, Y are set in degrees and not radians. At the very least, a note should be made to express the units here.

Ideally, there would be a selection box to allow a user to input orientation in their preferred method: degrees, radians, or quaternion.

[2012-09-21 22:30] chadrockey opened #2 "Possible to allow cancelling IK exploration in Kinematics Tool GUI?"
The IK tool can take a long time to run. It could be convenient to add a cancellation button to the GUI to stop solving for new points in case the user made a mistake setting up the parameters (despite the Visualize Points button).

This way, the user wouldn't have to close and restart the GUI to restart.

[2012-09-21 22:30] chadrockey opened #3 "Configure IK Timeout in Kinematics Tool GUI"
I heard that the default for a non-solution is 5 seconds per point.

If a user is not familiar with their arm, the initial guesses for Workspace size can be defined with many non-solution points.

Allowing the user to change this value would speed preliminary searches and allow much faster searching if the user knows their arm does not contain many degrees of freedom.

[2012-09-21 22:31] chadrockey opened #4 "Configure FK Computation in Kinematics Tool GUI in terms of Time or Samples"
I loaded a simple 3 dof arm into the tool and allowed it to compute FK for around 1 second. This generated 600,000 points that immediately locked up my computer when RVIZ attempted to visualize that number.

It should be possible to define the stopping point of the computation in terms of either overall 'Allowed Time for Computation' or 'Maximum Output Samples' (default around 1000?). This should

[2012-09-25 21:01] sachinchitta commented on #3
Now available as a ROS param - "kinematics_solver_timeout" in the launch file - set internally to default to 5.0

[2012-10-01 17:21] mateiciocarlie opened #5 "Show joint limits hit in Kinematics Tool"
In the kinematics tool, would be very informative to see which joints are hitting their limits. If a joint is within epsilon of the limit, can we put an informative marker there? Maybe also color coded going from yellow to red as you get closer and closer.

[2012-10-01 17:22] mateiciocarlie opened #6 "Better approximation of a Jinv controller in the Kinematics Tool"
The KDL IK based behavior is a good substitute for seeing what a Jinv or Jt controller would do, as long as you're in the reachable workspace. Once you move out, it is unresponsive and hard to use. I (think I) understand why it's doing that: it queues up all the poses you go through, tries IK for all of them and fails, and the queue must clear up before it regains responsiveness.

A real controlle

[2012-10-01 17:24] mateiciocarlie opened #7 "Build representative environments for Kinematics Tool"
Can we get started on a few representative environments for the Kinematics Tool? I would think a good start would be:
- a table top, potentially cluttered
- an open fridge, realistic (e.g. thick doors) with a few things inside
- a closed fridge. Stretch goal: a hinged door, so we can actually open it?

[2012-10-01 17:25] mateiciocarlie opened #8 "Provide Riverside URDF for the Kinematics Tool"
Title says it, though I am not sure if this is the right TRAC for this. Please close / reassign as appropriate...

[2012-10-01 21:20] sachinchitta commented on #8
I am going to close this for now - see separate email for reason.

[2012-10-01 21:20] #8 closed, assigned to sachinchitta

[2012-10-01 21:33] #7 closed, assigned to sachinchitta

[2012-10-03 01:04] chadrockey opened #9 "Separation and Latching of Success/Failure Result MarkerArrays in Reachability Output"
It would be helpful to be able to control whether to show both success (green spheres and arrows)  and failures (red dots and arrows) separately.

If it's at all possible to latch these arrays, it would be helpful too.  When you unclick the Marker Array or namespace box in RVIZ, you lose the data and need to rerun the script.  I'm not sure if latching is possible with marker arrays though.

[2012-10-03 01:09] chadrockey opened #10 "Print Summary of Reachability results"
It would be helpful if one of the final ROS_INFO calls were some sort of summary or statistics about the reachability exercise just performed.

For instance, something as simple as: "Successfully reached 670 of 1000 poses".  This should help as a simple quantitative metric that's easy to output.

Other averages or standard deviations may also be useful, such as "Average maneuverability index/devia

[2012-10-22 19:48] sachinchitta opened #12 "moveit_setup_assistant does not populate the projection_evaluator and longest_valid_segment_fraction fields"

[2012-10-23 20:41] isucan commented on #12
In the current versions of OMPL those parameters are computed automatically when needed and / or appropriate planner is used (the user does not need to add those fields).  I do not think the setup assistant should set those params since that basically means duplicating functionality from OMPL.

[2012-10-24 03:54] sachinchitta commented on #12
When I last ran with the generated files, the planner bringup was crashing without those lines. Adding the lines seemed to bring up - maybe this has been fixed in a newer version?

[2012-10-24 07:18] isucan commented on #12
I think this problem persists in the current version. I will fix it.

[2012-10-30 20:48] chadrockey commented on #12
Confirmed this is still a problem in latest version.

[2012-10-30 20:54] chadrockey opened #15 "MotionPlanning Plugin Cannot Display Plans in Real Time"
The RVIZ Plugin has a "Planned Path" section that will playback plans between the start and end position.

The current timing is done according to the "State Display Time" parameter.  However, since states are irregular in time and there can be large gaps between successive states, you cannot use this to evaluate the performance of an arm considering velocities and accelerations.

Having a checkbo

[2012-10-31 15:08] #15 closed, assigned to nobody

[2012-10-31 15:17] isucan commented on #12
I seem to be unable to replicate this problem. Can you say more about what you mean by 'planner bringup'?
I am running move_group.launch and calling the planners from rviz. When using an unspecified planner, one that works is selected and I get a plan. If I ask the use of a planner that needs a projection I get such errors in move_group:

[ERROR] [1351696305.515275524, 219.355000000]: No default p

[2012-11-05 21:43] chadrockey opened #17 "Confirm Overwrite for saving scenes"
It's surprising easy to accidentally overwrite scenes.  When you click save scene, it doesn't make you confirm that you are overwriting a scene.

RVIZ also saves the last "Scene Name", so you can easily overwrite your last session's scenes with new scene.

The following would help this situation:
- Confirm saving
- move 'Scene Name' out of the 'Planning Scene' section.
- Empty 'Scene Name' each ti

[2012-11-05 23:38] chadrockey opened #18 "Interactive Markers for Scene Objects"
it's almost unbearably difficult to properly position separate scene objects using the X Y Z and R P Y fields.  The center of rotation is not always on the object and the rotations cause the object to translate around.

Interactive markers would help tremendously with this problem and allow for faster scene creation.

[2012-11-05 23:41] chadrockey opened #19 "'Planning Time' field is not used"
The 'Planning Time' field in the rviz plugin is not used.  Right now it is hard configured inside move_group.cpp to 5.0s.  I'm finding many plans require 10 to 15 seconds, so being able to configure this value will be essential.

[2012-11-06 00:41] marioprats commented on #18
Hi, I'm trying to add interactive markers for placing the collision objects. Let you know when I have something working

[2012-11-06 12:25] isucan commented on #18
Mario, thanks for doing this! Are you doing this in the rviz plugin itself?

[2012-11-06 12:27] isucan commented on #12
bump

[2012-11-06 12:40] isucan commented on #19
I think you may be using a version that did not have the control implemented yet (just the GUI element). The latest version has this feature implemented. Can you verify?

[2012-11-06 14:17] #17 closed, assigned to isucan

[2012-11-06 16:42] #1 closed, assigned to nobody

[2012-11-06 16:43] sksellio commented on #2
Fixed.

[2012-11-06 16:43] #2 closed, assigned to nobody

[2012-11-06 16:44] marioprats commented on #18
Yes, I'm using the IM feedback to call the methods you have for positioning the objects. Please tell me if you have another idea.

[2012-11-06 16:47] sksellio commented on #4
There's a roslaunch parameter for maximum number of fk points. The default value is currently 5000.

[2012-11-06 17:03] isucan commented on #18
No, that's good. Are you using the same interactive marker server that's in robot_interaction?

[2012-11-06 17:17] marioprats commented on #18
No, I started another one, since feedback processing is significantly different for both

[2012-11-06 17:29] isucan commented on #18
Ok, sounds reasonable. Either way would be fine I think. Then I presume you are starting corresponding internal display as well, correct? I am asking because I'd like to keep the plugin standalone, not have to ask users to add additional displays.

[2012-11-06 17:33] marioprats commented on #18
Ok, I'm testing with an external display now, but will make it internal

[2012-11-06 18:59] chadrockey commented on #4
This should be exposed through the GUI as well.

[2012-11-06 19:05] marioprats commented on #18
I've made a commit of the current state into my fork in case you want to try, or you need it for creating the scenes:

git@github.com:marioprats/moveit-ros.git

You will need to create another IM display in rviz. I'll be working now in doing in internally

[2012-11-06 19:11] chadrockey opened #20 "Add ability to load scenes independently of robot details"
It would be nice to be able to load different robots into the same scene.

Currently, if you try to load a different robot or URDF, it makes RVIZ crash complaining that the root link was not found.

There should be a feature to load without robot details, and there should be a check to ensure that if the robot is not compatible with the queries that RVIZ does not crash.

[2012-11-06 19:34] isucan commented on #18
Looks good to me. For the interactive markers constructed in planning_frame.cpp, would it be possible to add independent functions that construct them to the robot_interaction package? There is an interactive_markers_helper.h file. (If that makes sense only)

[2012-11-06 20:41] sksellio commented on #4
Chad wants it exposed in the GUI.

[2012-11-06 21:20] chadrockey commented on #19
Confirmed fixed in latest.

[2012-11-06 21:20] #19 closed, assigned to nobody

[2012-11-06 22:17] isucan commented on #20
fixed. If the robot name does not match, the plugin extracts the geometry only. Tags updated,

[2012-11-06 22:17] #20 closed, assigned to isucan

[2012-11-06 22:42] chadrockey commented on #20
I'm not able to load the geometry:

[ INFO] [1352241657.116251790]: Scene 'ikeaplank' was saved for robot 'robot_arm_description' but we are using robot 'only_arm'. Using scene geometry only
[ERROR] [1352241657.119753404]: Transform from frame 'arm_base_link' to frame 'base_link' is not known ('base_link' should be a link name or an attached body id).

[2012-11-06 23:03] chadrockey opened #21 "Interactive Markers Fail to Appear if the Fixed Frame at launch does not exist"
I finally figured out why interactive markers seemed to appear sometimes and sometimes not.

To reproduce this issue do the following:
1) Launch moveit_apps/moveit_visualizer.launch for whichever arm/robot.
2) Check for interactive markers (should be present)
3) Change Fixed Frame to "/asdf"
4) Press Ctrl + S to save RVIZ configuration.
5) Relaunch everything
6) Interactive Markers won't appear
7)

[2012-11-06 23:24] isucan commented on #20
Sorry about this -- I was going to send you an email about this but got sidetracked. What happens is that when a scene is actually loaded, it is not set as the planning scene withing the plugin. The reason behind this is because you might want to monitor a planning scene from elsewhere (that's why the planning scene topic is set). The different node that is publishing planning scenes can be sendin

[2012-11-07 01:15] chadrockey opened #22 "Kinematics Reachability Fails if fixed frame is not parent of arm group"
I added the arm to a robot base using a fixed frame.

The tree looks like this (all fixed frames):
/base_link ->torso_link->arm_base_link

I set the kinematics reachability to use /base_link as the '~frame_id", but it complained about:
/moveit/planning_models/src/transforms.cpp:123(Transforms::getTransform ...
 Unable to transform from frame 'torso_link' to frame 'base_link'

This transform was a

[2012-11-07 10:48] #21 closed, assigned to isucan

[2012-11-07 22:04] marioprats commented on #18
Hi, David has refactored the InteractiveMarker class to allow for easy creation of IM without the need of a display. I have commited that to my rviz fork and will go upstream at some time. Using that, I'm creating IM inside the moveit rviz plugin (without the need of a server) for setting the pose of the collision objects. That's in my fork of moveit-ros. Please have a look if you have a time. Bas

[2012-11-07 22:54] isucan commented on #18
Excellent! That sounds like a nice setup. Is there a chance for this refactor of David's to make it to Groovy? It would be really nice if it did, so we can use it in the Groovy version of MoveIt.

[2012-11-08 18:35] marioprats commented on #18
Good, we have placed a pull request for rviz in groovy

[2012-11-08 19:41] chadrockey opened #23 "Allow overriding URDF encoded joint position limits in joint_limits.yaml"
Currently, joint_limits.yaml allows overriding the max_velocity and max_acceleration for a joint.

For programmatic reasons, it would be convenient to also be specify joint limits for position that would take precedence over those in the URDF.

These could be named 'upper_position_limit' and 'lower_position_limit'.  These would be ignored for continuous and fixed joints.

An example configuration

[2012-11-08 19:49] chadrockey opened #24 "Add support for joint_limits.yaml in kinematics_reachability workspace.launch"
This tool should also support joint_limits.yaml if it has been uploaded into the 'robot_description_planning' namespace.

[2012-11-09 13:03] #23 closed, assigned to isucan

[2012-11-09 13:07] isucan commented on #23
I added this functionality as "max_position" and "min_position" to be optionally specified in the joint_limits.yaml.

[2012-11-09 13:07] isucan commented on #24
If this code uses the planning_models_loader library, this bug is then implicitly fixed by the fix to #23

[2012-11-10 00:46] aleeper opened #26 "Better separation of front end and backend"
I'd like to refactor the plugin to preserve more separation of the front end and backend.

I propose to do this by making the plugin itself just a wrapper that maps menu and button events to send messages to a backend node that implements all the functionality currently in planning_display, planning_link_updater, etc.  (This is the way it is done in pr2_interactive_manipulation.)

Since I know you

[2012-11-10 00:55] jonbinney commented on #26
I second this. Having a small plugin that just displays planning scenes would be very useful. And structuring the backend code in a way which is easy to instantiate in other nodes would be very useful.

My use case is for debugging manipulation code. I'd like to be able to instantiate a couple of classes in my manipulation node, and quickly expose parts of the planning process for debugging. The f

[2012-11-12 09:23] isucan commented on #26
I think this is a great idea! Let's do it!
One small request: as you do things, please try to use "git mv" as much as possible, so it is easier for me to merge on top of groovy. Or better yet, if you can develop on top of groovy, just do that.

[2012-11-14 17:50] adamantivm opened #28 "Allow naming Stored Queries"
Not sure if this makes sense or if it belongs here, but just in case:

In the MoveIt RVIZ Plug-in (and corresponding warehouse back-end) it would be nice to be able to put a name on queries so that they can be better identified on what each of them does.

[2012-11-14 17:52] adamantivm opened #29 "Duplicate Scene Collision Object"
It would be nice to be able to create a duplicate of an already imported and positioned object in a planning scene.

[2012-11-14 23:30] sksellio opened #30 "Remove Attached Collision Objects from Moveit Rviz Plugin"
Currently you can remove regular unattached collision objects from the planning scene from the "Scene Collision Objects" tab of the moveit_rviz_plugin. It would be good to be able to remove attached collision objects as well.

[2012-11-14 23:31] #9 closed, assigned to nobody

[2012-11-14 23:34] isucan commented on #30
I guess a first step here is to have the option to attach collision objects. How does having an option for objects to be "attached" or "detached"? So you can attach existing objects, detach them, (and can delete them)

[2012-11-15 00:46] sksellio commented on #30
That sounds great!

[2012-11-15 18:27] isucan commented on #26
Take a look at what is there now?

[2012-11-15 18:27] isucan commented on #18
This was merged in a few days ago

[2012-11-15 18:27] #18 closed, assigned to marioprats

[2012-11-15 18:28] isucan commented on #29
Where would that duplicate be placed? What kind of UI component do you envision for this?

[2012-11-15 18:31] adamantivm commented on #29
Probably in the Scene Collision Objects tab, as another button next to
'Import Object', etc.
- Julian
  On Nov 15, 2012 3:29 PM, "isucan" notifications@github.com wrote:

[2012-11-15 23:25] marioprats opened #31 "loading old planning scenes with updated robot geometry shows collisions"
Not sure how much related this is with the issue of how planning scenes are stored in the database, but the following will not work:

1) Create a planning scene for a robot
2) Update the robot description (e.g add a gripper), and regenerate the moveit package
3) Load the planning scene of the first step

All the new links appear always in collision. However, it works with new scenes.

[2012-11-16 11:55] #28 closed, assigned to isucan

[2012-11-16 12:00] isucan commented on #29
I worry this would clutter the interface too much. Unless this is a strong need, I would propose holding on the implementation of this feature for now.

[2012-11-16 12:00] isucan commented on #24
Can anyone confirm if this works?

[2012-11-16 12:01] isucan commented on #26
Closing for now. Please reopen if further work is needed.

[2012-11-16 12:01] #26 closed, assigned to aleeper

[2012-11-20 02:07] ediehr opened #32 "Kinematics_Reachability creates large marker arrows"
Marker topic /arm_workspace_tests/workspace_markers/reachable creates large arrows which make it hard to see anything in the rviz screen.

[2012-11-20 20:28] marioprats opened #33 "IK Solver does not search alternative solutions when in collision"
Not sure if this is a bug, or just not implemented for any reason: when you move the end-effector around and some links of the robot are in collision, I would expect the IK solver to find another collision-free solution in the space of redundant configurations.

[2012-11-20 21:06] isucan commented on #33
I guess I should do this at some point :) I'll let you know. Thanks for reminding me!

[2012-11-20 23:07] mateiciocarlie commented on #33
Sorry, just learning this interface and figuring out how to "watch" the thread, closed the issue by mistake.

[2012-11-21 01:00] sachinchitta opened #34 "move_group_interface should support multiple end effectors"
Currently, move_group_interface does not support pose goals for multiple end-effectors. It should.

[2012-11-21 01:01] sachinchitta opened #35 "move_group_interface should support multiple goals"
move_group_interface should support multiple pose goals:
(1) for one end-effector
(2) for multiple end-effectors

[2012-11-21 10:45] isucan commented on #34
This is going to be resolved by #35

[2012-11-21 10:45] #34 closed, assigned to isucan

[2012-11-21 10:47] isucan commented on #35
Can you be a little more specific about this? I am assuming you mean for something like you construct a group for a group like 'arms' and there are multiple end-effectors there, and you would like to specify their pose. Please correct me if you have something else in mind.

[2012-11-21 17:48] sachinchitta commented on #35
Say you have just one end-effector - right_gripper attached to right_arm. It should be possible to use move_group_interface to give it a vector of possible end-effector goals. This gets passed down into the planner which would return a plan to one of them which would then get executed.

Similarly, it should be possible to send a vector of possible goals for multiple end-effectors with the assumpti

[2012-11-21 17:49] #3 closed, assigned to sachinchitta

[2012-11-21 17:52] isucan commented on #35
got it. will do.

[2012-11-21 17:56] sachinchitta commented on #12
Ok, I can confirm (in the reachability2 tag) that this actually works without those two lines in the yaml file.

[2012-11-21 17:56] #12 closed, assigned to isucan

[2012-11-21 23:23] mateiciocarlie opened #36 "Define benchmark as robot-specific start state and set of target gripper poses"
We want to define a benchmark using:
- a start state which is robot specific, and specified in joint space
- a set of target poses, specified in Cartesian space, over a set of planning scenes. This set must be usable by all robots that we want to run the benchmark against.
- the name of a link used to achieve the target poses

The benchmark tool should allow us to define and run this benchmark.

N

[2012-11-21 23:25] mateiciocarlie opened #37 "Save desired gripper poses for benchmarking using rviz plugin"
In order to run the benchmark defined in #36, we need to create and save multiple desired gripper poses for each planning scene.
- we would like to save gripper poses from the rviz plugin
- gripper poses should be saved in Cartesian space (position and orientation, arm-independent).
- we need the ability to name gripper poses, so we can refer to them from the benchmark

helping: @isucan @marioprat

[2012-11-21 23:29] mateiciocarlie opened #38 "Run reachability benchmark end-to-end on test scene"
This shows that we can run the benchmark defined in #36 end-to-end. It needs:
- the appropriate features in the benchmarking tool (#36)
- the appropriate feature in the rviz plugin (#37)
- one demo set of panning scenes (potentially containing a single scene) and a set of gripper poses defined in it. Do not worry too much about the exact scene, this is just to show that the end-to-end pipeline is

[2012-11-25 11:17] #35 closed, assigned to isucan

[2012-11-25 11:18] isucan opened #39 "expose more functionality from move_group_interface in Python"
we need to decide what to do with messages -- conversion from ones generated by gencpp to ones generated by genpy and reverse.

[2012-11-26 12:25] isucan commented on #36
Just as a note, the moveit_ros_warehouse package allows storage of planning scenes, goal poses (or arrays of goal poses) and individual robot states (used for definition of start states).

I would like to split this ticket in two, as I believe we need to do two things:
- benchmark planning plugins (the functionality described in this ticket is is there, but not yet tested)
- benchmark planning pip

[2012-11-26 12:27] isucan commented on #37
The gripper poses should be saved using the ConstraintsStorage class in moveit_ros_warehose. A pose is just a PositionConstraint and an OrientationConstraint. We probably need an additional Tab in the Rviz plugin to allow operating with these goal poses. I'd like this tab to include operations with RobotState messages as well -- saving them using the RobotStateStorage class in moveit_ros_warehouse

[2012-11-26 17:05] aleeper opened #40 "Split planning_scene_display into separate rviz display plugin"
Ioan and I have discussed this as a lower-priority item, but I wanted to note it here so we don't forget.
At some point, it would be good to make the planning_scene_display its own rviz display plugin, and then have the motion planning plugin just instantiate one internally.

This has the benefit of allowing someone to display a planning scene without needing the whole motion planning plugin, and

[2012-11-26 17:11] adamantivm commented on #29
When creating a realistic planning scene, it is not rare to need to place many objects nearby. For example bins in a shelf, rows of cabinets, etc. It currently takes quite a few clicks and adjustments to import and object and get it in the right position, orientation and scale. Being able to duplicate an object and its properties with a single click seems programmatically very simple and would sav

[2012-11-26 17:11] isucan commented on #40
Thanks Adam! I had not forgotten -- I almost started working on it today :)

[2012-11-26 17:12] adamantivm commented on #28
:+1:

[2012-11-26 17:14] adamantivm opened #41 "Import object from URL"
Allow insertion of scene collision objects by specifying location via URL

[2012-11-27 00:26] marioprats commented on #37
I'm thinking on a new tab where the user can create goal groups (or 'problems'), and set target poses for those groups. A group could have one or several target poses. I will have a look to the constraint classes you mention for the implementation. Do we need to set the initial robot state with the rviz plugin as well? this would require opening each scene for a given robot, and then setting the i

[2012-11-27 08:16] isucan commented on #37
I don't think we should add benchmarking capabilities to this rviz plugin. Perhaps we will develop a different GUI / plugin, but for this one I was thinking we just use it to populate the database.
The way I have set up the benchmarking command line tools is that you define cfg files for the problem:

[scene]
name=some_name  (can be saved from rviz)
query=some_regex (selection of queries specified

[2012-11-27 08:22] isucan opened #42 "add a tool for benchmarking PlanningPipeline"
Just like we can run benchmarks for planning plugins, we should be able to benchmark a plannig pipeline.
This might require another node, similar to run_benchmark, or another service for run_benchmark. I prefer the latter.

[2012-11-27 08:24] isucan commented on #36
This is now implemented as part of the Groovy distribution. I am starting a different ticket for benchmarking pipelines

[2012-11-27 08:25] isucan commented on #38
It would be nice if we can use the warehouse tool for initializing a demo database to generate this demo benchmark too.

[2012-11-27 16:51] isucan commented on #40
done

[2012-11-27 16:51] #40 closed, assigned to isucan

[2012-11-27 16:58] isucan commented on #31
Mario, the planning scene also includes the collision matrix to use. Since the robot name was left to be the same, the complete scene is loaded, including the collision matrix. But that old collision matrix does not include the new data, so you get collisions, which is in fact, the expected behaviour. If you use a different name for the robot, all is well.
Another way to do this would be to have a

[2012-11-27 16:58] #31 closed, assigned to nobody

[2012-11-27 18:07] mateiciocarlie commented on #37
So the rviz plugin is essentially an interface for storing things to the database, and knows nothing about benchmarking? The cfg file then uses regex to tell the benchmark what to run on.

In general, I think the suggested architecture makes a lot of sense and looks fine to me.

[2012-11-27 18:09] mateiciocarlie commented on #38
Is the warehouse tool different from the rviz plugin? My thought was that we'd use the rviz plugin to populate the database with what we need for the demo benchmark, just as we would for the actual scenes to be used in the real benchmarks.

[2012-11-27 18:53] isucan commented on #37
@mateiciocarlie Yes, that is what I was thinking.

[2012-11-27 18:56] isucan commented on #38
The warehouse tool as it was in arm_navigation is no longer there -- the rviz plugin replaces it. However, there is backed functionality for dealing with the warehouse (just a library). That library also includes a demo app that generates a simple database (command line). I was thinking that it would be nice if we could also have a demo benchmark tool using this demo db, so we can run a demo witho

[2012-11-27 20:43] isucan commented on #33
@sachinchitta says we should keep it as it is by default. I added a bit of functionality that should allow searching for valid states. Not sure how to make it available in a convenient way. Any suggestions?

[2012-11-27 22:18] marioprats commented on #37
Good, makes sense. Do we want to set start states moving joint by joint, or just IK-based as it is now? I would start using IK for now, but we may need to have control of the joints in the future (e.g if the start state is a folded configuration for which the joint angles are known). That might be another ticket though...

[2012-11-27 22:29] marioprats opened #43 "Unable to find resource access-denied.dae"
Probably there is something wrong in my environment, but in groovy the moveit_rviz_plugin cannot find the resource 'access-denied.dae' when the eef is outside the reachable workspace. I see it only exists in the src robot_interaction package, and never installed. Could it be installed under install/share/moveit_ros_planning_interface? I did that as a temporary solution. If it is correct I can subm

[2012-11-27 22:44] mateiciocarlie commented on #33
So then whether you get a solution or not is an artifact of the seed you happen to choose?

In general, at least trying multiple seeds is something that I feel we will absolutely need. Whether that sits in the IK itself or in a wrapper around it, both seem like feasible options.

[2012-11-27 22:50] marioprats commented on #33
What about a new checkbox property? when activated search for alternative
solutions if there is a collision. If not activated show the default
behavior.

On Tue, Nov 27, 2012 at 2:44 PM, Matei Ciocarlie
notifications@github.comwrote:

[2012-11-27 22:58] isucan commented on #37
I think IK is fine for now

[2012-11-27 22:59] isucan commented on #43
I think that is correct. Thanks for fixing!

[2012-11-27 23:02] isucan commented on #33
Right now we use as seed the previous state of the arm, to avoid having the arm jump around as we drag the end effector. Random seeds are used if IK fails with that first seed. However, we do not look for alternatives (currently) if IK is successful but the state is in collision.
The checkbox suggestion seems reasonable to me.

[2012-11-27 23:05] mateiciocarlie commented on #33
Checkbox idea is fine to me as well. But where in the backend will that go?

We'll need this functionality for the benchmarking work as well, given we'll be using gripper poses as goals. Oh, wait - is that all taken care of by the sampling-based planner? How does that work - do you run the sampling based planner with gripper space constraints, or do you do IK first and then plan to joint space goa

[2012-11-27 23:14] isucan commented on #33
The call to IK stuff will be in the rviz plugin itself. The IK functionality we use is from KinematicState.

The planners use a notion of constraint samplers -- the constraint_samplers library which spawn threads that generate valid states in parallel, while a planner is running. As part of sampling constraints, if we happen to constrain a link (position, or orientation, or both) that is the tip o

[2012-11-28 02:44] mateiciocarlie commented on #36
OK, got some more clarifications. Thanks @isucan :)

The benchmark as defined in the ticket can be done now, with the condition that the planning plugin itself can handle goals which specify just end-effector poses (as constraints). Our current plugin can, so we're good.

The long term solution is to allow plugins + adapters, so the adapter will do the IK if the plugin can not handle it. This is n

[2012-11-28 12:56] isucan commented on #33
fixed in 775f115ae4260b9451a9a640d668091565d25275

[2012-11-28 12:56] #33 closed, assigned to isucan

[2012-11-28 13:06] isucan opened #45 "PlanningSceneDisplay does not render OctoMap"
The PlanningSceneDisplay has support for rendering simple shapes and meshes. However, rendering octomaps is not supported. We should use the existing octomap rviz plugin to render the octomap part of a plannig scene as well.
Anyone up for this?

People who can probably help:
@marioprats @jkammerl @dgossow @isucan @aleeper

[2012-11-28 13:10] isucan commented on #43
@marioprats fixed this

[2012-11-28 13:10] #43 closed, assigned to nobody

[2012-11-28 16:50] #29 closed, assigned to isucan

[2012-11-29 01:44] marioprats opened #48 "Planning scenes created with one robot cannot be loaded with other robots"
If I run the plugin for a robot and create a planning scene, I cannot import the scene geometry for another robot. I'm getting the following message, but no geometry appears:

Scene 'scene' was saved for robot 'my_robot' but we are using robot 'my_other_robot'. Using scene geometry only.

[2012-11-29 02:07] marioprats commented on #48
Ok, I was pointed to #20 by @adamantivm and that worked!

[2012-11-29 02:07] #48 closed, assigned to nobody

[2012-11-29 02:34] adamantivm commented on #48
How did you end up getting dynamic reconfigure gui to work on groovy?
- Julian
  On Nov 28, 2012 6:09 PM, "marioprats" notifications@github.com wrote:

[2012-11-29 03:02] marioprats commented on #48
I didn't :(
I finally set the parameter via rosparam

On Wed, Nov 28, 2012 at 6:34 PM, Julian Cerruti notifications@github.comwrote:

[2012-11-29 03:59] adamantivm commented on #48
So perhaps we should open a ticket somewhere to record the fact that
dynamic reconfigure is not working in groovy, no?
Also, it would be probably good to modify the launch files we're using to
set this parameter by default
- Julian
  On Nov 28, 2012 7:02 PM, "marioprats" notifications@github.com wrote:

[2012-11-29 06:00] jkammerl commented on #45
Yes, I recently worked on two rviz plugins for displaying binary octomap messages in rviz:
https://github.com/ros-visualization/octomap_rviz_plugins
One displays a 3d voxel grid and the other generates a 2d map.
Do they work for you? Since I am still new to moveit, it would be great if you could give me some pointers how to integrate them best.

[2012-11-29 09:55] isucan commented on #45
Julius, I think we would like to use the grid display. I just looked at your code. I think integration should work fine.

This is the rendering code we have for planning scenes:
https://github.com/ros-planning/moveit-ros/blob/groovy-devel/visualization/planning_scene_rviz_plugin/src/planning_scene_render.cpp

It basically renders shapes. One particular type of shape is a wrapper for an octree (see

[2012-11-29 18:51] mateiciocarlie commented on #36
Re-opening this, as the following part is not yet addressed: "a set of target poses, specified in Cartesian space, over a set of planning scenes. This set must be usable by all robots that we want to run the benchmark against".

Right now, planning scenes are still robot-specific. This issue might go in another ticket though, that this one will then depend on.

[2012-11-29 18:55] isucan commented on #36
Actually, that is incorrect. The set or target poses have nothing to do with the planning scenes or with the robot itself. The described functionality is already available.

[2012-11-29 18:56] mateiciocarlie commented on #37
Note that goal poses have to be robot-independent, so defining them by moving a particular robot around, and only in places that it can reach, is intrinsically flawed. We do need an easy way to define goal poses though...

[2012-11-29 19:01] mateiciocarlie commented on #36
Well, sure, but it is impossible (or at least not as useful) to run the becnhmark without a planning scene, so even if goal poses are robot independent, we still need the planning scenes to be independent as well.

We should probably close this ticket though and open another one on making planning scenes robot-independent?

[2012-11-29 19:05] isucan commented on #36
The planning scene is robot specific in the sense that it includes the collision matrix, the robot model and its configuration. This information is needed for planning, so I do not see how we can have planning scenes that are robot independent. Do you mean the PlanningSceneWorld? That is a separate message, and it is robot independent. That information can be read on its own from the database and

[2012-11-29 19:08] mateiciocarlie commented on #36
Got it.

The question, then: how do we run a benchmark across multiple robots using the exact same PlanningSceneWorlds for all of them?

[2012-11-29 19:11] isucan commented on #36
The following should work: use the same names for the planning scenes to load (in the .cfg file) but have different URDF loaded on the param server.
However you cannot include multiple robots in the same benchmark -- it would have to be multiple benchmarks.

[2012-11-29 19:13] isucan commented on #36
Perhaps the confusing thing here is that the PlanningScene is always saved and when the robot is different only the PlanningSceneWorld is read. We can make it so that we can explicitly store just PlanningSceneWorld. That would perhaps be more elegant as well. What do you think?

[2012-11-29 19:13] #36 closed, assigned to isucan

[2012-11-29 20:50] #30 closed, assigned to isucan

[2012-12-01 00:37] jkammerl commented on #45
Thanks Ioan, yesterday I talked to Sachin about it. He will give me some more instructions on how to integrate it best, since I have not had the change to work with this part of the move-it code. I would like to reinstall/update moveit now. Do these instructions still work (with respect to recent changes?) Which branches should I use.

[2012-12-01 00:37] jkammerl commented on #45
http://moveit.ros.org/installation_source.html

[2012-12-01 01:56] marioprats commented on #37
I have submited a pull request (#49) with the basic functionality. Let's start improving from here.
There is a new tab that allows to:
- Create goals in the cartesian space. When creating a new goal, it appears by default at the current end effector pose of the goal kinematic state. Once created it is an interactive marker that can be dragged around. The marker is an arrow for now, although in the

[2012-12-01 09:23] isucan commented on #37
Mario, thanks for the pull request. It is now merged.
I put some comments on the code you wrote (I just discovered the feature). Perhaps those can be addressed in a later request, although at this point I think point you should switch to developing on groovy-devel as your feature updates are mostly there.

About the question above on the relation of planning scenes and constraints. The association

[2012-12-03 16:11] isucan opened #50 "fix threading issues in rviz plugin"
When operating on planning scenes outside the rviz plugin it is possible to cause errors due to synchronization.

[2012-12-03 16:12] isucan opened #51 "preserve attached objects from planning scene current state"
When updates are received for groups other than the current group, and those updates include attached objects, the attached objects should be preserved

[2012-12-03 16:14] isucan opened #52 "prevent using same name for a collision object and an attached object"

[2012-12-03 16:24] isucan opened #53 "duplicate attached bodies"
check what happens when objects with an existing name but on a different link are received. it seems shapes are merged when they should actually be replaced

[2012-12-03 16:36] #50 closed, assigned to isucan

[2012-12-03 17:43] mateiciocarlie commented on #37
I was just able to try it out on my machine. Good stuff!

A few comments:
- yes, having the IM show up using the currently loaded hand urdf would be great :)
- (minor) when multiple poses are selected, they all move in their own reference frame. I think it might be more intuitive if they all moved the same way in the frame of the one that the user is actually dragging around
- the big one: associa

[2012-12-03 18:19] isucan commented on #37
@mateiciocarlie The benchmarking supports regex to specify goals, so perhaps if the user follows a convention for specifying goals (such as scenes_and_b_goal_XXX where XXX are numbers) then this becomes easier. Mario and I just spoke about adding the same regex filtering functionality to the rviz plugin  as well.

[2012-12-03 19:04] #53 closed, assigned to isucan

[2012-12-03 19:20] mateiciocarlie commented on #37
Got it - sounds like a good plan to me.

Although it is true that in most cases poses will only make sense in certain scenes. I feel that when such constraints exist, I would rather see them enforced at a lower level (e.g. database) then rely on user conventions. However, I don't think this issue is worth too much debate and I don't want it to get philosophical. If you guys are happier with naming

[2012-12-03 19:22] #52 closed, assigned to isucan

[2012-12-03 20:37] isucan commented on #51
fixed by 10670df455597113a5289d6e1994e55ed503b20a

[2012-12-03 20:37] #51 closed, assigned to isucan

[2012-12-04 02:22] marioprats commented on #37
Hi, thanks for the comments
I've submitted another iteration. It should fix the way multiple goals are moved (now relative to the one being dragged), and also adds the functionality for storing start states. I have added the regex text field for filtering the input, and default names when storing goals and states. That will allow to filter the database data for the current scene. Let's see if this

[2012-12-04 12:01] isucan commented on #37
@marioprats I played with this a little bit and it seems to work well. Thanks for the updates. One weird thing: If I connect to the db, load, everything is fine. Then I disconnect, but all UI elements in the new tab remain populated. I think we should trigger a clear when the tab is changed, and if the db connection is there, automatically load the db?

[2012-12-04 13:32] isucan opened #55 "implement functionality that corresponds to TrajectoryConstrains"

[2012-12-04 18:35] #41 closed, assigned to isucan

[2012-12-04 23:05] marioprats opened #56 "benchmark tool does not find planners"
I'm getting the following error on the benchmark server side:

The planner id 'BKPIECEkConfigDefault' is not known to the planning interface 'ompl_interface_ros/OMPLPlanner'
Planning interface 'ompl_interface_ros/OMPLPlanner' has no planners defined

The client side shows:

[ INFO] [1354662258.176541272]: Calling benchmark for goal constraints 'shelf table tight 1_pose_0000' for scene 'shelf table

[2012-12-04 23:54] sksellio opened #57 "Rviz Plugin "Set Start to Current" sets start to "Home" position"
The "Set Start to Current" button in the rviz plugin sets the start to be the "home" position with the arm by the robot's side. "Set Goal to Current" does the same. The robot model is updating and tracking the arm but the plugin isn't taking into account the current state.

[2012-12-05 00:03] adamantivm commented on #56
Mario, did you check in ~/.ros to see if the benchmark produced results
anyway? That was the case for me.
- Julian
  On Dec 4, 2012 8:05 PM, "marioprats" notifications@github.com wrote:

[2012-12-05 00:07] isucan commented on #57
This is actually what the code is supposed to do. There was a bug earlier that took the robot state directly. To obtain the behaviour you want you should enable the scene update event for the planning_scene_monitor publishing updates, thus having the current scene state follow the state of the robot itself.

[2012-12-05 00:07] #57 closed, assigned to nobody

[2012-12-05 00:08] isucan commented on #56
This was due to the group name not being specified. Perhaps a better error message should appear as well.

[2012-12-05 02:09] jkammerl commented on #45
Hi, what's the easiest way to get an octree shape within move-it? would it be possible to add an octomap to the warehouse at rlu.willowgarage.com? This way, I could test the rendering of an octree within the planning_scene_rviz_plugin. Thanks!

[2012-12-05 13:48] isucan commented on #45
The easiest way is to publish a PlanningScene message on the topic that the rviz plugin listens to.
So that you do not have to fill anything but the octomap, just set
msg.is_diff = true;
msg.world.octomap = .... ; this is an OctomapWithPose msg;

[2012-12-05 16:23] #39 closed, assigned to isucan

[2012-12-05 20:56] aleeper opened #61 "Source doesn't build nicely over debs."
If moveit debs are installed, some packages fail to build because they find the wrong headers. I believe this is caused by how the find_package and include_directories macros are used in the CMakeLists.txt files for various packages.

I believe the "best practices" for the CMake file is detailed here:
http://www.ros.org/wiki/catkin/CMakeLists.txt
and you will notice that things like include_direct

[2012-12-05 21:07] isucan commented on #61
Can you try to move the includes lower and see if that fixes things?

[2012-12-05 21:10] aleeper commented on #61
Yes, I just talked to William and got the rundown on what is the proper CMake style now. I'll start changing stuff.

[2012-12-06 02:03] marioprats commented on #37
Not sure if that's what we want. The user may have goals created from the GUI and not stored in the DB. If we clear everything when switching to another tab, those would be lost. The way it is now is like an 'Import from DB'. Once the goals are imported they are stored locally and the user can play with them even without a DB. Actually it would be possible to load goals from a DB, switch to anothe

[2012-12-06 02:29] aleeper commented on #61
Ok I checked in changes to moveit_core, moveit_planners, and moveit_ros that seem to fix the compilation issues.

The main takeaways are:
- use find_package() where possible.
- some packages (including Octomap...) do NOT follow convention and are inconsistent in the capitalization of the prefix they use in cmake, so they break the assumptions that catkin makes, so that the lib names can't be passe

[2012-12-06 02:29] #61 closed, assigned to aleeper

[2012-12-06 02:38] adamantivm commented on #37
One small comment from the user point of view: it is confusing that the
funtionality of this new tab is inconsistent with the functionality of the
planning scenes tab. On the latter, after you connected to the database,
you have all the scenes already loaded. In this new one, you have to click
a specific "Load" button. I don't have a strong opinion one way or another,
but I would strongly suggest

[2012-12-06 06:44] marioprats commented on #37
We can load by default all the goals matching scenename.\* when loading a scene. This would populate the goal list as long as the goals were created using the default suggested names. But we'll still need the load button in case the user wants to load other goals.

[2012-12-06 10:25] isucan commented on #37
@marioprats I think we should always load all the goals when loading from the database and use the regex as a filter. When the user changes the regex, a different set of goals are shown. Then the user can copy a goal originally developed for one scene to another scene. It also allows the user to check whether the regex is correct. Otherwise, if you have a regex used at load time, you filter data y

[2012-12-06 10:26] isucan opened #63 "copy website data to wiki"

[2012-12-06 10:37] adamantivm commented on #37
I agree with @isucan about loading all goals but showing a subset depending
on a regex. The regex can in turn (and should by default) change when the
user changes the scene. An option to disable the filter or allow changing
it manually would allow access to goals from other scenes.
- Julian
  On Dec 6, 2012 7:25 AM, "isucan" notifications@github.com wrote:

[2012-12-06 17:04] marioprats commented on #37
Ok, then let's load everything when connecting to a db, and apply the regex scene.\* by default filter when loading a scene. The regex field will always be there in case the user wants to change the filter.
Regarding renaming, let's say I have a scene with shelves. I have defined 50 goals on top of one shelve, and want to copy all of them to the shelve above. I do not want to rename one by one ;)

[2012-12-07 01:49] marioprats opened #66 "Benchmark tool IK solver failed with error -6"
I create a scene and a constraint with the moveit plugin. Inside the plugin double-clicking the constraint computes the IK and a solution is found, so the goal is reachable. However, when running the benchmark tool on this scene I get this error:

[ WARN] [1354844470.079475944]: It looks like the planning volume was not specified.
[ INFO] [1354844470.086848920]: Planner configuration 'arm[BKPIECEk

[2012-12-07 01:51] marioprats commented on #37
The basic functionality is there, so let's now open more concrete tickets

[2012-12-07 02:12] marioprats commented on #66
Some more info: looking into the error codes, -6 corresponds to a timeout, and going into the code (moveit_core/constraint_samplers/src/default_constraint_samplers.cpp:225), the timeout is hardcoded to 0.5. Could that have something to do?

[2012-12-07 12:16] #66 closed, assigned to isucan

[2012-12-07 12:26] isucan commented on #66
I added the option as a parameter that can be specified in the kinematics.yaml file. The pr2 default config has this parameter now specified, and set to 0.5; The setup assistant allows specifying the param. Let me know if this is still a problem. Technically though, an IK timeout is not a big problem, so I will make that a debug message only.

[2012-12-07 15:45] adamantivm opened #67 "Show goal pose coordinates in UI"
It would be nice to be able to see (and maybe also set) the pose coordinate values for the goal pose being moved around. This can help verify if the orientation is the one apparent visually or not (for example, if a rotation is exactly 90 degrees or not)

[2012-12-07 15:46] adamantivm opened #68 "Show location of start state"
Provide a way to see in the UI what is the pose for saved start states.

[2012-12-07 15:48] adamantivm opened #69 "Create goal percentage coverage analysis tool"
Create a simple tool / script to parse the benchmark output and produce percentage-of-goals-reachable in an easily consumable way

[2012-12-07 16:56] marioprats commented on #68
A double click on the name should bring the robot to that configuration. Are you thinking of something else?

[2012-12-07 18:43] adamantivm commented on #68
Thank you! I hadn't figured that function out myself. I think this is enough, closing as ebkac

[2012-12-07 18:43] #68 closed, assigned to marioprats

[2012-12-07 18:45] mateiciocarlie commented on #55
Can you please expand on this a bit? I was also thinking about trajectory constraints as a next step in the benchmarking context, so I was wondering if this is related.

[2012-12-07 18:47] mateiciocarlie commented on #66
So wait - IK timeout is not a problem at all, it's just the IK tool's way of telling us that, as far as it's concerned, there is no solution, right?

[2012-12-07 18:57] sachinchitta commented on #66
Does depend on the IK solver - but technically it really does mean that IK solver did not find the solution in the given time. May not mean that the solution does not exist.

[2012-12-07 18:58] mateiciocarlie commented on #37
Excellent work. Playing around with the goals is a lot of fun. I think this is indeed pretty much solved.

One note: the regex does not work for me, for the start state or the goals. Does it work for you with the latest version of everything?

[2012-12-07 19:23] adamantivm opened #70 "Add visual indicator of z-axis rotation to goal poses"
Otherwise it is really hard to tell the rotation of a  goal pose marker. This is particularly important for the case where we want multiple goal poses which are in the same location and only differ in the z-axis (e.g.: to different successful poses for grasping an object, only rotated 180°)

[2012-12-07 19:23] marioprats commented on #37
It works for me, but the UI is still a bit tricky, and there are a few things you need to know:
- The filter field does not work as a filter on the current list. It's the filter applied when getting things from the DB when you click Load. So, if you change the regex, you want to reload from the DB.
- The Load button works as an import. Everything you load is aggregated to what you already have in

[2012-12-07 19:25] mateiciocarlie commented on #70
There was a suggestion for the goal marker to actually use the geometry of the current end-effector. That would be ideal, but might be difficult?

On the way, a simple t-shaped marker will indeed be preferable to the current arrow.

[2012-12-07 19:28] mateiciocarlie commented on #37
Oh, I see.

Yes, the current UI is a bit confusing.

I don't think there is an ideal solution. Our main use case will be creating lots of goal poses for benchmarking. Let's wait until we have the planning scenes defined and start doing that in earnest, and then we can solve the interaction issues that are driving us crazy as we're doing that.

[2012-12-07 19:29] adamantivm commented on #70
I was suggesting to Mario simply to add a single tail fin to the arrow. I
think that would do for now, until we have the gripper mesh in place. What
do you think?

On Fri, Dec 7, 2012 at 4:25 PM, Matei Ciocarlie notifications@github.comwrote:

[2012-12-07 19:30] adamantivm commented on #37
I concur

On Fri, Dec 7, 2012 at 4:28 PM, Matei Ciocarlie notifications@github.comwrote:

[2012-12-07 19:31] marioprats commented on #70
For sure a T-shape arrow will be simpler. I'd for that now

On Fri, Dec 7, 2012 at 11:29 AM, Julian Cerruti notifications@github.comwrote:

[2012-12-07 19:32] mateiciocarlie commented on #70
Yes, that would be good for now, and definitely an improvement over just-the-arrow.

Even like that though, it will be hard to know exactly where the gripper would go (is the base of the arrow where the palm would go? is the tip of the arrow where the fingers go? etc.) That might lead us to create goal poses where the gripper is colliding with stuff, and then we'll unfairly blame the planner or th

[2012-12-07 19:34] adamantivm commented on #70
Maybe something easy to do would be to be able to run IK without collision
constrains. The same thing  you can do with double-clicking the goal but
removing the collision constrain, I mean. That way you can visually see if
there is a problem. Although I agree the general solution of drawing the
gripper is the ideal.

If you use a T-shape instead of an arrow, please make sure it is possible
to dist

[2012-12-07 19:40] sachinchitta commented on #70
Might be best to duplicate the axes display for each pose for now? - http://www.ros.org/wiki/rviz/DisplayTypes/Axes

[2012-12-07 23:17] isucan commented on #37
You can even keep everything internally after a load and when the regex changes, you just copy from the internal list to the QWidget the items that match the regex. It would be significantly more efficient for fast editing of the regex, especially if the db is remote.

[2012-12-07 23:40] isucan commented on #55
hey Matei. Sorry -- i put this here mostly as a reminder for me. Everything in MoveIt is with respect to constraints.
So you have:
1. goal constraints (obvious I guess) -- they just specify regions to be accepted as goals
2. path constraints -- they define constraints to be enforced for every state along a path. This should work already, and we have run benchmarking for this too in the past. I hav

[2012-12-08 00:30] mateiciocarlie opened #71 "Eliminate from benchmark result goal poses where the gripper is in collision"
If the gripper itself is in collision with something, then no collision-aware IK will ever find a solution regardless of the arm. Goal poses that put a particular gripper in collision with something should not be considered for the benchmark.

[2012-12-08 00:32] mateiciocarlie commented on #37
Would also be nice if we had a way to check if a disembodied gripper placed at the goal pose is in collision with something (see #71).

How doable is this?

[2012-12-08 01:58] marioprats commented on #70
I have submited a pull request that provides L-shaped arrows. That will help for the moment. I've talked with Ioan and it does not seem too difficult to show the actual hand. So that will be the next.

[2012-12-08 01:59] marioprats commented on #67
pull-requested (#72) :)

[2012-12-08 01:59] #67 closed, assigned to marioprats

[2012-12-08 05:24] isucan commented on #67
Merged :)

[2012-12-08 13:38] isucan commented on #71
I think a more general approach is to use the benchmark results to filter this data out for the particular purpose of the experiment we are thinking about. The benchmarking infrastructure collects sufficient data to allow filtering the type of data you need.

[2012-12-08 13:38] #71 closed, assigned to nobody

[2012-12-08 13:43] isucan commented on #37
@mateiciocarlie this is already done. The KinematicState allows doing FK for particular parts of the robot only (the updateStateWithLinkAt() function) so we can place parts of the robot anywhere we want (even though this 'breaks' the robot) and the collision checking  we use allows specification of a group (optional) to limit the collision checking to.

[2012-12-10 17:47] isucan opened #73 "generalize mergeConstraints"
when we will me mixing path constraints + goal constraints + trajectory constraints into one set of constraints better samplers can be produced if constraints are merged correctly. This needs to happen at some point

[2012-12-10 18:25] isucan commented on #55
initial version checked in

[2012-12-10 18:25] #55 closed, assigned to isucan

[2012-12-11 16:03] isucan opened #75 "segfault on valid IK solutions"
I get a segfault when double clicking on a goal pose and IK succeeds. Not sure what the problems is.

[code]

[2012-12-11 16:04] isucan opened #76 "IK computation of goal poses"
The IK computation for goal poses should be done as a background job so the UI does not hang.

[2012-12-11 16:55] adamantivm commented on #76
I agree. Furthermore, it would be good to have a mechanism throughout the
plug-in to display progress of background operations.
Another example of this is loading scenes and goal poses from a database
through the network, it can take several minutes, throughout which there is
no feedback of what is going on.

On Tue, Dec 11, 2012 at 1:05 PM, isucan notifications@github.com wrote:

[2012-12-11 17:14] marioprats commented on #76
What is the approach for a BackgroundJob to access the ui?

[2012-12-11 17:26] marioprats commented on #75
Could you please give more information? did you double-click on the name in the list, or on the marker directly? there is a call to InteractiveMarkerControl::handleMouseEvent, so it seems there was interaction with the marker controls... I'm trying but cannot reproduce it

[2012-12-11 17:32] mateiciocarlie commented on #76
Would be nice for all computation to be done in the background, including for example the IK when dragging the start state robot or goal state robot around...

[2012-12-11 17:36] isucan commented on #76
Most computation the plugin supports is done in background. The only operations that are not in background are ones that require rendering or user interaction (and of course, the bit mentioned in this issue :) )

@marioprats you just call addBackgroundJob() and pass it a boost function pointer. The same calling mechanism as addMainLoopJob(), except done in a different thread. addMainLoopJob() shou

[2012-12-11 17:44] marioprats commented on #76
The IK computation on the goal pose, as it is now, displays an error message if a solution does not exist, so we cannot do it in a BackgroundJob unless we remove the feedback message, right? In general I would like to have feedback... what about replacing the error message by switching the marker color to red?
_Update_ - just read your last sentence ;) (A background job can call addMainLoopJob() t

[2012-12-11 17:48] mateiciocarlie commented on #76
Switching color to red instead of the "forbidden" marker would be great.

For example, in the "Gripper Click" interactive grasping strategy, there is no computation done in the rendering thread, but the gripper marker turns green if a solution has been found in the background, red if there is no solution, and grey if the background thread has not finished computation yet. The UI is always responsi

[2012-12-11 18:14] isucan opened #77 "split motion_planning_frame.cpp into multiple files"

[2012-12-11 18:22] isucan commented on #75
I double clicked on the marker. Double clicking on an item in the list works.

[2012-12-11 18:28] isucan commented on #76
@mateiciocarlie Trying to restate this: we should add a marker instead of the current sign (probably the end effector) and that should be red when there is a problem. This sounds like a nice feature.

When the solution works, I would like to keep things as they are, so the arm config is visible.

[2012-12-11 19:15] isucan opened #78 "benchmarking with invalid goal poses"
Running motion planning benchmarks for goal poses that have no IK solution is not really meaningful for planning -- we would be basically testing reachability of the arm with hand selected goals.

We should add a button to the rviz pluing that allows starting a background job that computes IK for all defined goal poses. If IK was not yet run we use a default color for the marker. If it was, we use

[2012-12-11 19:28] marioprats commented on #78
I think it would be nice to have this functionality, specially for the case we want to benchmark planners. But in the case we just want to compare arm kinematics, and not planners, it may have sense not all the goals are reachable. The benchmark would give you how many goals are reachable with each arm, and then some metrics for the reachable ones.

[2012-12-11 19:35] mateiciocarlie commented on #78
Agreed. We are essentially benchmarking three things, from a reachability perspective: the hardware itself, the IK, and the planner. Poses that are not reachable are very meaningful for the system, just not for the planning component.

What is nice, and I think is captured in a different ticket, is to remove goals that are invalid because the gripper would be in collision with something.

[2012-12-11 19:38] mateiciocarlie commented on #76
Oh, sure - the arm config would always be visible. It's just that the computation itself should be done in a different thread so the UI is responsive. Right now, if you wander outside the reachable range, it becomes sluggish and difficult to work with. We just need a way to convey to the user three things: solution found, solution not found, and "working".

[2012-12-11 19:42] isucan commented on #78
@mateiciocarlie agreed. I just think that in addition to the gripper being in collision we can actually test for IK solution existance as well, and in fact, complete collision checking would be possible then as well. Is there a reason not to test these?

I think it would be interesting to know if the planner failed because of an IK failure or because of the kinematics possible. What i mean is, it

[2012-12-11 19:45] isucan commented on #76
Sounds great! We keep finding really nice stuff to add :)

[2012-12-11 22:38] jkammerl commented on #45
Hi, I just added the octomap visualizer to the render_shapes class and triggered a pull-request. I tested it with randomly generated octree data and it looks fine. However, if we would like to update the octree structures at high rate, we should perform the octree decoding and the rviz point cloud generation outside of the visualization thread. What do you think?

[2012-12-12 01:37] marioprats commented on #75
Fixed in 6ea2e85283f2ce37f118772af385c3a38be2e0bd

[2012-12-12 01:37] #75 closed, assigned to marioprats

[2012-12-12 01:38] marioprats commented on #76
Fixed in d5eda4c04e2c6fefa6aca74109e8d06ebc84402b

[2012-12-12 01:38] #76 closed, assigned to marioprats

[2012-12-12 01:41] marioprats opened #81 "Do start and goal states IK in the background"
Would be nice for all computation to be done in the background, including for example the IK when dragging the start state robot or goal state robot around...
See #76

[2012-12-12 01:44] marioprats opened #82 "Check goal poses for gripper collision"
Check if a disembodied gripper placed at the goal pose is in collision with something

[2012-12-12 01:44] marioprats commented on #37
I'll close this one and open another more specific for Matei's request (#82)

[2012-12-12 01:44] #37 closed, assigned to marioprats

[2012-12-12 01:46] marioprats commented on #70
Solved from 99d80764f1fcd55a43ed38bf99e5488274545dfb and 20a8936aa464afc865c31bba98ab3f21069840cb

[2012-12-12 01:46] #70 closed, assigned to marioprats

[2012-12-12 01:50] marioprats commented on #82
Let's consider this one as part of issue #78

[2012-12-12 01:50] #82 closed, assigned to marioprats

[2012-12-12 02:18] marioprats opened #83 "Benchmark motion planning start tree could not be initialized"
I have one planning scene with one goal. I have one robot and one start state defined for it. Inside the plugin I run the planner and get a path from the start state to the goal pose, but when running it through the benchmark I get the following error:

[DEBUG] [1355278041.939472148]: Calling OMPL:RRTConnectkConfigDefault
[ WARN] [1355278041.947116776]: It looks like the planning volume was not sp

[2012-12-12 09:12] isucan commented on #81
That is already the case. That computation is performed in robot_interaction, and the IK itself is computed in the message callback thread, which is not the same as the GUI. The reason you see the marker move slowly is that only when IK completes, is the arm configuration updated.

[2012-12-12 09:12] #81 closed, assigned to nobody

[2012-12-12 09:19] isucan commented on #83
Can you reset your start states db ? (using the new button that was added yesterday) and add the start state again? If that does not work, please send me the db

[2012-12-12 15:39] isucan commented on #45
Thanks for the pull request @jkammerl !
It is now merged. I think we should do the decoding in a background thread, but let's first see how bad things get.

I have a question about the code: what are the 16 levels you construct point clouds for?
Do we really need the dependency on octomap_ros? I removed a number of unneeded #includes and I do not see octomap_ros headers included.

[2012-12-12 16:19] isucan opened #84 "attached objects disappear when scene updates are received"

[2012-12-12 18:01] marioprats commented on #83
That did the trick! thx!

[2012-12-12 18:07] marioprats commented on #38
Feasible!!

[2012-12-12 18:12] mateiciocarlie commented on #38
Awesome!!

Can we get a few details?
- which scene was this run on
- both arms?
- what was the exact config file
- how long did it take

[2012-12-12 23:30] marioprats commented on #38
I run it on the 'shelf table tight' with two arms, and just one goal so it was a few seconds. I'll send you the config file by email

[2012-12-12 23:58] jkammerl commented on #45
Rviz can render a set of boxes very efficiently on the GPU by using a pointcloud with point type "boxes." This way you only need to transmit point data to the GPU instead of meshes. However, to every pointcloud, you can  assign only a single point/box size that is applied to every point in the cloud. Therefore I added a pointcloud for each level of the octree. Since octomap uses 16-bit shorts as v

[2012-12-13 00:05] isucan commented on #45
Thanks for the clarification! Is there a way to get the value 16 as a constant from octomap?

[2012-12-13 00:05] #45 closed, assigned to nobody

[2012-12-13 01:04] jkammerl commented on #45
I didn't find a constant within the octomap code defining the key size. We could use sizeof(unsigned short int)*8

[2012-12-13 01:07] isucan commented on #45
That's fine. Maybe @ahornung will add a named constant  in octomap and we will be able to use that. Or we can use 8 \* sizeof (some octomap typedef) , which currently is defined to be unsigned short it.

[2012-12-13 01:33] isucan commented on #84
this was not actually a bug

[2012-12-13 01:33] #84 closed, assigned to isucan

[2012-12-13 02:03] marioprats commented on #83
Actually it didn't solve the problem :(
Seems to work fine if the scene was defined for the same robot, but fails if not

[2012-12-13 09:03] ahornung commented on #45
Just use octree.getTreeDepth()

That defines the depth levels, currently a constant but it can be overriden by a custom implementation (and already was - there is some modified version with 32 levels around).

[2012-12-13 09:06] ahornung commented on #45
In terms of speeding up things, you could include a parameter "max depth" that is changeable on the fly like in octovis or octomap_server via dynamic_reconfigure. Pass that to the iterators and you will get an immediate speedup. Just iterating over the tree will already be twice as fast for one less depth level, I assume rendering will benefit even more (= less voxels).

This greatly helped us vis

[2012-12-13 13:39] #83 closed, assigned to isucan

[2012-12-13 14:40] adamantivm opened #86 "UI hangs after scene object rename"
After I rename an object and hit Enter, rviz freezes completely and needs to be process-killed

[2012-12-13 14:41] adamantivm opened #87 "Duplicate Scene Collision Object doesn't refresh Current Scene Objects list"
After hitting control-C on a scene object, the object gets duplicated (I can move one object and see another one left behind) but the list of scene objects doesn't update, making it impossible to move back to the previous object or rename the new one

[2012-12-13 16:55] #86 closed, assigned to isucan

[2012-12-13 16:59] #87 closed, assigned to isucan

[2012-12-13 17:04] mateiciocarlie commented on #10
Closing this as a duplicate of #69. If additional result forms are needed, please add them there.

[2012-12-13 17:04] #10 closed, assigned to sachinchitta

[2012-12-13 17:05] mateiciocarlie commented on #38
As per @adamantivm 's good suggestion, re-opening this until the result parsing tool in #69 is also complete, at which point we'll get human readable results of the type "Arm A can reach 45% poses, Arm B can reach 23% or something like that"

[2012-12-13 17:41] isucan opened #88 "make sure we can do the replanning demo with moveit on the pr2"

[2012-12-13 18:00] davetcoleman opened #89 "Feature Request: Add marker size parameter to InteractionHandler class"
Found in file:
https://github.com/ros-planning/moveit-ros/blob/groovy-devel/planning_interface/robot_interaction/src/robot_interaction.cpp

I would like to add a "marker_size" parameter to the InteractionHandler class.

By default marker_size is 0 but, if specified, it will override the end effector size that is used to determine the scale of the generated interactive marker.

This size change wil

[2012-12-13 18:16] isucan commented on #89
InteractionHandler should not know about the marker size, so I propose doing things differently:

In this function

[code]

(and the two other decision functions it calls)
pass an optional argument:

[code]

Then internally, instead of always calling computeGroupScale, call that function only if no scale has been specified in the map.

[2012-12-13 19:42] davetcoleman commented on #89
Thanks, but I ended up doing it differently than both these suggestions. I think my solution is simpler and your suggestion didn't address the exact issue I needed to solve in the motion planning plugin because of the way I had asked the question.

Pull request is [here](https://github.com/ros-planning/moveit-ros/pull/90)

[2012-12-13 19:42] #89 closed, assigned to davetcoleman

[2012-12-13 20:19] isucan commented on #89
I like your proposed solution. The only request I have is to change the parameter from a double to a std::map<std::string, double> and use that instead of a fixed value.

[2012-12-13 20:54] marioprats opened #91 "Show/hide a selection of goal poses"

[2012-12-13 23:56] marioprats opened #92 "Goal poses shift"
For some reason goal poses created at some point may shift a bit from its original position. I've not been able to reproduce this effect, but it has been reported by @mateiciocarlie and I also noticed that in previously created scenes. If someone has the honor to see it happen, any info will be appreciated ;)

[2012-12-13 23:59] isucan commented on #92
i suspect this is not a frame change in the rviz fixed frame?

[2012-12-14 00:34] marioprats commented on #92
Actually they appear already shifted in the wiki snapshots, so probably they were like that since the beginning. @adamantivm ?

[2012-12-14 00:51] marioprats opened #93 "Scene name not updated when loading a scene"
When loading a scene, shouldn't the scene name property be set accordingly? I think this was the behavior until recently. Is it a bug or is there a reason?

[2012-12-14 00:53] adamantivm commented on #92
I will double-check tomorrow (I don't have access to the computer with rviz
at home).

Is it possible that this is a confusion on the representation of the goal
pose? I don't see the shifted position in the screenshots. All the bottom
shelf grasp points are designed to position the gripper barely inside the
bin. Note that the gripper is placed at the tip of the blue arrow. The
overhead poses shoul

[2012-12-14 00:54] adamantivm commented on #93
I also saw this behavior and was bitten by it a few times (load scene,
create goal pose, it has the wrong scene name, why? oh! the scene name in
the configuration is old. Delete goal pose, repeat)

On Thu, Dec 13, 2012 at 9:51 PM, marioprats notifications@github.comwrote:

[2012-12-14 00:57] marioprats commented on #92
You are right @adamantivm. Having a closer look the ones that seem outside are actually forward grasps, and the gripper falls on top of the support. So everything seems fine. But open it again if you finally discover an issue

[2012-12-14 00:57] #92 closed, assigned to nobody

[2012-12-14 01:27] marioprats opened #95 "Draw the approach direction for a goal instead of a frame"
Only gripper X (normal to palm) and Y (fingertip-to-fingertip direction) should be shown. We usually draw X long (since that's the grasp direction) and Y short (just to give a sense of which direction the fingertips are oriented)

[2012-12-14 03:45] jkammerl commented on #45
Thanks @ahornung! Very helpful! I added an optional parameter to the OcTreeRender class which allows to limit the tree depth. I also integrated the getTreeDepth method to obtain the amount of tree levels.

[2012-12-14 14:16] adamantivm opened #97 "Change eef color to indicate collision when moving goal poses"
Sometimes it is very difficult to see if a goal pose will make the end effector be in collision with the scene.
It would be very helpful if the end effector which is shown when moving around a goal turned a different color (red?) when it is in collision with a scene object

[2012-12-14 14:16] adamantivm commented on #97
Currently I find myself spending a huge amount of time moving around crowded scenes to make sure eef are not in collision for new poses. This feature would accelerate this process considerably.

[2012-12-14 14:55] #93 closed, assigned to isucan

[2012-12-14 16:32] mateiciocarlie commented on #97
Agreed, this feature would be very useful. We have discussed it in a separate ticket (which one was it?) last week I think. @marioprats @isucan - any thoughts?

[2012-12-14 16:50] marioprats commented on #97
Right, this would be very helpful. I'm considering this feature inside #78

[2012-12-14 17:18] marioprats commented on #95
cc @KaijenHsiao
Since we cannot assume a given axis is the forward direction for the gripper (different robots may use different axis), and the srdf does not seem to include this information (@isucan ?), for now I have included three checkboxes in the ui that let the user select which axis to display on the goal poses. Please re-open it if you think there is a better solution.

Implemented in 753f

[2012-12-14 17:18] #95 closed, assigned to marioprats

[2012-12-14 19:12] isucan commented on #95
@mateiciocarlie @marioprats would you like to add additional information to the end_effector tag of the SRDF?

[2012-12-14 23:34] marioprats opened #98 "Add reachable flag to benchmark output"
If I'm not missing something, the benchmark output does not include the case where the goal is reachable and free of collision, even if the planner cannot solve for it. For the kinematic analysis we might need to know whether a goal can be reached or not, independently if the planner can solve the problem.

So, in addition to the current SOLVED field, I would suggest adding a REACHABLE and COLLISI

[2012-12-14 23:37] isucan commented on #98
I would like this to be a separate tool, not in the benchmarking. The goal representations we have for planning are implicit and do not necessarily require producing explicit states. This means that you can solve the planning problem without knowing a goal configuration a priori. This means that the feature you request should be done in a different fashion. I absolutely agree we need this function

[2012-12-14 23:58] marioprats commented on #98
After discussing with @isucan, seems that the best solution is to create a separate tool more focused on benchmarking kinematic configurations, and then call the current benchmark tool for benchmarking a planner if we need to. So I'll close this ticket and create a create a new one for the new tool

[2012-12-14 23:58] #98 closed, assigned to nobody

[2012-12-15 00:00] sachinchitta commented on #98
There is a tool for this in kinematics_reachability - it needs to be refactored and cleaned up but it does what you want.

[2012-12-15 00:04] marioprats opened #99 "Tool for benchmarking kinematic configurations"
We need a tool, build on top of moveit benchmarks, that is more specific to kinematic analysis.

So, in addition to the current SOLVED field provided by the current benchmark tool, I would suggest adding a REACHABLE and COLLISION_FREE field, the former to be true if the goal is inside the robot ws, and the latter set to true if, in addition, the robot can reach the goal without collisions. If the

[2012-12-15 00:06] isucan commented on #99
+1

[2012-12-15 03:28] marioprats opened #101 "updateStateWithLinkAt not working properly"
Calling updateStateWithLinkAt(link_name), being link_name the end-effector parent link, brings all the links to the expected pose, with the exception of the one following link_name (the palm in this case), that appears shifted. Removing the call to updateGivenGlobalLinkTransform() at the end of the method solves the problem, but probably breaks something else ;)

[2012-12-15 06:34] mateiciocarlie commented on #95
Right, this was part of an old (2011) discussion on SRDFs captured here:

https://home.willowgarage.com/wgwiki/SRDF

I think at the time we decided against capturing things like "default approach direction for grasping" in and end-effector SRDF, but now we again find we need that information _somewhere_. The manipulation pipeline has it in a .yaml file. I would be happy putting it into the SRDF.

[2012-12-15 06:48] mateiciocarlie commented on #98
+1 to all said here: we do want this capability and this seems like the right way to have it.

[2012-12-15 09:07] isucan commented on #95
we can have a default approach vector specified as an optional attribute. Would something like default_approach="x y z" do?

[2012-12-15 12:43] isucan commented on #77
we need to do this relatively soon. Files are getting very large and we seem to keep on finding new things to add.
For motion_planing_frame.cpp
Keep the the file as a master file for the frame + add new files, one for each tab;
@marioprats feel up to this?

motion_planning_display.cpp
-- separate out trajectory visualization as a first step.

[2012-12-15 13:35] isucan opened #102 "incorrect display of axes"
If I load a few poses, then disable the MotionPlanning plugin, and re-enable it, the axes look all weird.
They are much larger than they should be and appear displayed even if the show x/y/z checkboxes are disabled

[2012-12-15 21:39] davetcoleman opened #103 "Error: stack/package not found"
When starting move_group_action_server using the move_group.launch file generated by the Setup Assistant, I get a lot of error messages that say:

[code]

I'm not sure if its causing problems with other things or not; move_group does still launch.

[2012-12-15 21:45] davetcoleman commented on #103
On further thought, this is probably because rospack hasn't been properly converted to work with catkin and the relaxed requirement that packages no longer need to have their folder name the same as their package name. @dirk-thomas

[2012-12-15 22:16] davetcoleman opened #104 "Ability to connect to monitored planning scene (physical robot status)"
There should be an easier way to have MoveIt publish its monitored_planning_scene than using dynamic reconfigure. Ioan showed me how to do this programmaticaly with a hack, but it would be better if this was a roslaunch parameter or a checkbox on the motion_planning_plugin. I'd be happy to add this enhancement myself if it is a good idea: I propose a new launch parameter called something like "pub

[2012-12-16 00:55] isucan commented on #104
The dynamic_reconfigure options are in fact ros params and you can initialize them to desired values in the launch file already.

[2012-12-16 04:21] marioprats commented on #77
All right, I can try ;)

On Sat, Dec 15, 2012 at 4:43 AM, isucan notifications@github.com wrote:

[2012-12-16 04:26] marioprats commented on #95
That would be helpful in my opinion, specially for grasping

On Sat, Dec 15, 2012 at 1:07 AM, isucan notifications@github.com wrote:

[2012-12-16 08:57] isucan commented on #103
I think @mirzashah fixed this

[2012-12-16 08:58] isucan commented on #101
I am not sure I can replicate this problem, but I refactored your code a bit. Can you send a print screen?

[2012-12-16 19:49] marioprats commented on #101
I probably did something wrong. Seems to work now with you refactoring. I saw you also added a reachability button. That was next in my todo list, so thanks a lot!!

[2012-12-16 19:49] #101 closed, assigned to isucan

[2012-12-16 19:52] marioprats commented on #97
This should be ready. Collisions will be checked each time you finish dragging a goal pose, or when you click the Check Collisions button. The goal pose will switch to a yellow color if in collision

[2012-12-16 19:52] #97 closed, assigned to marioprats

[2012-12-16 19:52] marioprats commented on #78
There are now two buttons that allow checking for collisions and IK

[2012-12-16 19:52] #78 closed, assigned to marioprats

[2012-12-16 20:44] davetcoleman commented on #104
I figured out what parameters and have added this to the moveit_config template files generated in the Setup Assistant in this [commit](https://github.com/ros-planning/moveit-setup-assistant/commit/cd10e48d1faa4b1ea59cb1dd21ba2aa6fbd3f1ea). By default there is no change but if you set the publish_monitored_planning_scene arg to true then it is easy to connect a physical robot to the motion_plannin

[2012-12-16 20:44] #104 closed, assigned to nobody

[2012-12-17 11:51] isucan opened #105 "move kinematics_reachability messages to moveit_msgs"
We should not have messages in moveit_ros. We should not use messages for defining classes used internally unless we need to publish that message type.

[2012-12-17 11:53] isucan commented on #99
@marioprats If you would like to do this, we should chat about the design of this tool a bit, when you have time.

[2012-12-17 11:54] isucan commented on #69
Would this be covered by #99 ?

[2012-12-17 12:26] adamantivm commented on #69
We should all have a short sync meeting to discuss these things. It is becoming a bit hard to understand what each of us has in mind from the tickets, imho.

[2012-12-17 12:30] isucan commented on #69
i agree with @adamantivm ; this would allow us to consolidate the tickets we have.

[2012-12-17 13:52] adamantivm opened #106 "Undo support"
It would be greatly appreciate to have undo support, particularly for accidental movement goal pose or collision objects.

Brownie points for binding to Ctrl-Z

[2012-12-17 17:23] marioprats commented on #99
After having a look to the code, one possibility I was considering is to
implement an analogous to run_benchmark.cpp (i.e.
run_kinematics_benchmark.cpp), the first one would be the current benchmark
tool for planners, and the second one would involve just IK. We can make a
superclass for both if needed, since methods like computeBenchmark would be
common (although specialized). For the calling par

[2012-12-17 17:30] isucan commented on #99
Sounds good to me! I don't think we need a superclass for both. I think refactoring benchmarks_config as needed should be sufficient.

[2012-12-17 17:39] marioprats commented on #69
Well, I think this ticket was assuming the current benchmark tool was
already providing the info we needed but in an unprocessed way. We
discovered that it does not provide the required info, so a new tool is
needed (#99). However, I think this ticket will still be needed, but
getting input from the new tool too. I agree we need a meeting ;)

On Mon, Dec 17, 2012 at 4:30 AM, isucan notifications@g

[2012-12-17 19:23] mateiciocarlie commented on #99
+1. This would be great, and I think when it's done the kinematics_benchmark will be much quicker to run as well, giving us a quicker way to get feedback as we're dealing with various robot configurations.

[2012-12-17 19:33] mateiciocarlie commented on #69
Yes, these are separate problems. Let me restate:

The goal of this ticket is to parse the results of benchmarking and provide human-readable output.

If the benchmark being run is the "traditional" planning benchmark, then the output it:
- % of states that are SOLVED

If the benchmark is the kinematics_benchmark tool from #99, then the output would be:
- % of states that are REACHABLE (in range,

[2012-12-17 21:27] mirzashah commented on #103
I am not aware of this problem nor did I fix it. However, rospack should work with catkin. This was something @dirk-thomas did a long while back.

[2012-12-17 22:36] davetcoleman commented on #103
i just updated and rebuilt all of moveit, and updated all my ros debians, but i'm still getting the error. my console output is [here](https://gist.github.com/4323039)

[2012-12-17 22:58] dirk-thomas commented on #103
Does any of your launch files looks for a former stack / now metapackage? Those do not get installed (i.e. planning, ros). Probably you just need to point to a specific package instead?

If you can come up with a simple small example I can give it a shot - but the above mentioned setup has lots and lots of packages...

[2012-12-17 23:00] isucan commented on #103
@mirzashah move_group loads a bunch of plugins, and all of them are in locations that do not match with the folder name. I thought Dave posted another bug about this. I thought this was the same issue. Is it not?

[2012-12-17 23:01] mirzashah commented on #103
@isucan Yes there was a different issue regarding pluginlib, this sounds like something different.

See
https://github.com/ros/pluginlib/issues/6

[2012-12-17 23:21] davetcoleman commented on #103
Can @isucan or someone confirm their moveit launch files are having similar error output so that we can rule out it is not just my setup? i think this is a related issue, but the previous Issue was in reference to the error output:

[code]

[2012-12-18 00:49] davetcoleman opened #107 "move_group crashes from KDL exception while planning"
When using move_group_interface to plan a simple pose for our lab's custom arm, move_group crashes with a failed assertion from KDL. The console output starting from when planning begins and followed by the GDB backtrace of the exception is [here](https://gist.github.com/4323874). The example code I am using is [here](https://github.com/davetcoleman/clam_catkin/blob/d5b3794234c6feb3dd68463eeb20b4d

[2012-12-18 02:01] mirzashah commented on #103
I don't think they are related...the plugin issue was happening within pluginlib and had nothing to do with rospack. This is outside the scope of pluginlib and seems to be a rospack issue. If @isucan is experiencing the problem as well, I recommend overlaying rospack and finding out where it seems to be failing. Dirk is super overloaded so I can lend a helping hand if you guys can help me get setu

[2012-12-18 04:30] marioprats commented on #99
Finally I have refactored benchmark_config and call_benchmark so that the actual call to the benchmark service is done in the latter. This allows to reuse benchmark_config for parsing the config file both in the planner and the kinematic benchmark tool. How do you feel with that?

The kinematic benchmark server can then be executed as:

1) Running the server. You can duplicate the existing benchma

[2012-12-18 07:54] isucan commented on #103
I am experiencing the problem as well, yes.
Mirza, I can help you set up the env we use.

On Tue, Dec 18, 2012 at 4:01 AM, Mirza Shah notifications@github.comwrote:

[2012-12-18 08:54] dirk-thomas commented on #103
Confirmed to work with pluginlib 0.9.13.

[2012-12-18 08:54] #103 closed, assigned to nobody

[2012-12-18 10:01] isucan commented on #99
Minor changes to what Mario said:
i refactored the code a bit:
- I merged the two benchmark servers into one
- merged the two call_benchmark tools into one

The option --include-planners is not there, but two other options exist instead: --goal-existance-only and --planners-only
These options allow disabling some of the benchmarks. We still need to work a bit on how the goal existance works, but i

[2012-12-18 11:09] isucan opened #109 "add specification of ik_link to kinematics.yaml"

[2012-12-18 17:16] marioprats commented on #99
Great! thanks for the iteration Ioan!

On Tue, Dec 18, 2012 at 2:01 AM, isucan notifications@github.com wrote:

[2012-12-18 23:45] adamantivm opened #111 "Benchmark progress"
It would be a nice little tweak if the benchmark client said "Processing goal XXXX (N of M)" to give the user an idea of the amount of time the benchmark has left to run.

[2012-12-19 02:15] marioprats commented on #102
Fixed in dd8373d65983737e2f84b436e65be91fcb0aa465
Sorry, my idea was to send a pull request, but after the change in the repository names I had a bad configuration in my system and pushed it to the upstream repo. Fortunately it's only three lines ;)

[2012-12-19 02:15] #102 closed, assigned to marioprats

[2012-12-19 19:21] marioprats commented on #111
Implemented in 7f89c7a599b21319e0eba69b0af20bee8a22b615

[2012-12-19 19:21] #111 closed, assigned to nobody

[2012-12-19 21:29] #99 closed, assigned to marioprats

[2012-12-19 21:40] marioprats opened #114 "goal poses not displayed with the PR2"
For some reason, goal poses in the warehouse are not displayed correctly when loading the PR2 robot. They are loaded and double-clicking on them computes IK on the robot. It's just the interactive markers are not displayed.

[2012-12-19 22:22] marioprats commented on #114
This is an issue with the /odom_combined frame that is not published by default in pr2_moveit_config/demo.launch. Running static_transform_publisher solves the problem. @isucan should we include the static transform broadcast odom_combined -> base_link into the demo launch file?

[2012-12-19 23:34] isucan opened #115 "plugins for call_benchmark"
For call_benchmark:
I think we should have some sort of optional plugins that apply patches to planning requests before they are sent off to the benchmark server.

[2012-12-20 00:28] isucan commented on #114
Can you add that to the launch file? I will take a look anyway.

[2012-12-20 01:08] isucan commented on #114
mario added a launch file fix, so this should be fine; reassigning to me so i don't forget to check why it worked in the past without the transformer

[2012-12-20 10:32] #109 closed, assigned to isucan

[2012-12-20 16:40] marioprats commented on #114
Well, the end-effector interactive markers work even without the broadcaster (as long as you set odom_combined as the fixed frame). But odom_combined was neved published, so the tf tree was broken

[2012-12-20 16:41] isucan commented on #114
makes sense

[2012-12-20 16:41] #114 closed, assigned to isucan

[2012-12-20 17:57] isucan opened #116 "make sure average number of collision checks is saved in the benchmark"

[2012-12-20 18:45] jonbinney opened #117 "minimum sensor distance for kinect in occupancy_map_monitor"
When updating the occupancy map using a depth image, should be able to take into account the fact that the kinect cannot see anything closer than about 45 centimeters.

[2013-01-03 10:58] isucan opened #121 "missing symbol"
From http://answers.ros.org/question/51308/moveit-groovy-symbol-lookup-error-kdl-plugin/

If I generate a arm motion planning package as described in the setup assistant tutorial and try to start things according to the rviz plugin tutorial:

roslaunch move_group.launch

I get the following:

/opt/ros/groovy/lib/moveit_ros_move_group/move_group_action_server: symbol lookup error: /opt/ros/groovy/l

[2013-01-03 13:05] isucan commented on #121
This should be fixed here:
https://github.com/ros-planning/moveit_core/commit/415bcdca3d1ff976fc191f1a281deffd0a0c87f5
With moveit_core deb >=0.3.8 this issue should be resolved.

[2013-01-03 13:05] #121 closed, assigned to isucan

[2013-01-03 19:36] marioprats commented on #91
Implemented in bb3afbc6e00a8a123d8e9c5ab9f09950cb1f3df3

[2013-01-03 19:36] #91 closed, assigned to marioprats

[2013-01-03 22:24] marioprats commented on #77
Done in 94e5a172513220da47f3df506ec266f5303a88f1

[2013-01-03 22:24] #77 closed, assigned to marioprats

[2013-01-03 23:58] marioprats opened #123 "Include base placement for kinematic benchmarks"
Many goal poses that are not reachable from a given robot base pose, could be reachable from another base placement. Ideally we would need to know if a target is reachable independently of the base position. I see different possibilities:

1) Include virtual d.o.f on the base_link and use them as part of a group.
2) Somehow encode the base pose as part of the start state (inside the RobotState msg

[2013-01-04 02:13] sachinchitta commented on #123
Here's the way we last did it: http://kforge.ros.org/Sushi/trac/wiki/Navigation/FindBasePoses
- generate a bunch of goal poses in a set of concentric circles around an object taking into account an approximate notion of the distance the arm can reach out to. All orientations were pointing towards the object. The poses were offset based on whether you were doing the left or right arm.
- check the g

[2013-01-04 08:18] isucan commented on #123
I think we have to do variant 1) from the list that Mario suggests. It seems to me the others are a bit of a hack.
(btw, the base pose can be encoded as a multi_dof joint as part of the RobotState message)
- From the point of view of changing the benchmark or the config files, this is trivial: just update the group we are planning for (perhaps add it to the SRDF)
- As Sachin mentions, there needs

[2013-01-05 01:07] marioprats opened #124 "robot_interaction IM are re-created in a loop"
motion_planning_display sets the changedQueryStartState callback for robot_interaction. This callback is called each time IM feedback is received. Inside the callback, MotionPlanningDisplay::publishInteractiveMarkers gets called, which destroys and creates again the interactive markers. Therefore, IM are destroyed and created in the feedback loop, right?

This creates a significant overload, I was

[2013-01-05 13:45] isucan commented on #124
Well, this is actually on purpose. But I think things can be optimized. The resulting behaviour of the setup in there now is that the marker is always at a position that is obtained through FK. If IK was successful, all looks right. If IK failed, the arm snaps back to the last successful pose. But we can probably optimize, in the sense that we only redraw when IK fails and we need the arm to snap

[2013-01-05 20:22] marioprats commented on #124
Yes, that would be an improvement. But what is the reason for forcing the IM to be at the last valid IK pose? Personally I find it more usable if we don't move it back to the last valid pose. Sometimes, if a pose is not valid, you may want to search around it for a valid one, without the marker jumping to another place.

[2013-01-05 20:34] aleeper commented on #124
I agree with Mario. For teleop, it is critical that the interactive marker
be allowed to stay in kinematically infeasible poses. If it pops back
automatically the user will get really irritated.

[2013-01-07 13:01] skohlbr opened #125 "Linker errors in occupancy_map_server when building from source"
Hi,

I'm on a 12.04/groovy machine. After an issue with .deb based install has been corrected (see http://answers.ros.org/question/51308/moveit-groovy-symbol-lookup-error-kdl-plugin/ , thanks for the quick fix! )  I wanted to test a from source install as I didn't want to wait for the new debian packages.

I followed the instructions here:
http://moveit.ros.org/wiki/index.php/Groovy/Source_Install

[2013-01-07 13:14] isucan commented on #125
Ah... This is a separate issue I think. Octomap was just re-released and the source code was updated to build with the new octomap, which you probably do not have a deb for. Try downloading this deb for octomap:
http://50.28.27.175/repos/building/pool/main/r/ros-groovy-octomap/
Install it, and then try again building from source.

[2013-01-07 15:22] aleeper commented on #124
After playing around with things in the most recent implementation, I would point out that enforcing that the IK be feasible is restrictive for traditional teleop. For example, someone who wants to send the interactive marker pose to a J-Transpose controller doesn't care whether the pose is kinematically feasible, he just wants the gripper to move in that direction as much as possible. Similarly,

[2013-01-08 01:48] mateiciocarlie opened #127 "Interpolated IK functionality"
Add InterpolatedIK functionality. Note that this is needed for both pick&place (the grasping pipeline) and for benchmarking; it would make sense for the same functionality to be used in both.

There has already been a lot of work on this and the component is already done, just adding the ticket so we can discuss any remaining issues, keep track of it, and depend on it in other tickets.

@isucan :

[2013-01-08 01:51] mateiciocarlie opened #128 "Add visibility checks to goal poses for benchmarking"
Add the ability to set a goal pose as SOLVED only if it also visible. Alternatively, maybe have a separate VISIBLE / NONVISIBLE tag and have a way to do the intersection of VISIBLE and SOLVED?

In terms of what is visible, maybe we can start with a simple model of viewing frustum, near distance and far distance? We would need to essentially "plan" for head orientations that try to bring the pose i

[2013-01-08 01:56] mateiciocarlie opened #129 "Add Cartesian trajectories to benchmarking"
Add the ability to define straight-line trajectories in Cartesian space that the end-effector must follow. We would need:
- a way in the GUI to specify a start pose and an end pose for the end-effector
- a separate benchmark that attempts to plan between them with path constraints and tells us how many paths were able to be executed
- (maybe?) a way to specify other things like how strictly the pa

[2013-01-08 01:57] mateiciocarlie opened #130 "Visualize benchmarking results"
We would like a way to visualize benchmarking results so we can also get more intuition on the numbers.

For example, we would like to color all reachable poses in a scene green and the unreachable ones in red. the rviz plugin can do that, using the same code that the benchmark uses, but it's essentially a recomputation.

We could store all results of benchmarking in the database and use that info

[2013-01-08 02:01] adamantivm commented on #130
Even though I have a very bad feeling about overloading the same database
for historical (and potentially growing endlessly) results, I would suggest
a first quick start by storing them in a separate 'database name' in the
same warehouse server, for the time being.

On Mon, Jan 7, 2013 at 10:57 PM, Matei Ciocarlie
notifications@github.comwrote:

[2013-01-08 07:38] isucan commented on #127
This exists now, but I am not entirely convinced it will work for all our use cases. I think that will generate different tickets though, so closing for now.

[2013-01-08 07:41] isucan commented on #128
The planning described can be done without too much difficulty, but getting the data in to the planner and modifying the planning request to allow specification of such planning requests will not be trivial.

[2013-01-08 07:46] isucan commented on #130
Right now the warehouse allows storing the planning results in a separate collection, associating the results with the scenes and requests they correspond to. Have you noticed issues with storing data in the current dbs? I do not think we will have that much data to store, in terms of what databases typically store.

I am for a separate rviz plugin (split the current one when necessary) but I woul

[2013-01-08 09:28] skohlbr opened #131 "Wiki install instructions fail due to outdated manipulation_msgs being used"
Following http://moveit.ros.org/wiki/index.php/Groovy/Source_Install and installing an updated Octomap version as suggested in #125, compilation fails later due to some fields not being present in the used manipulation_msgs version:

<pre>
Linking CXX executable /opt/repos/moveit/devel/lib/moveit_ros_warehouse/moveit_save_to_warehouse
[ 76%] Built target moveit_save_to_warehouse
[ 77%] Building CX

[2013-01-08 09:28] skohlbr commented on #125
Thanks again for quickly finding a fix!
Now, compilation fails at a later point when following the wiki's install instructions, created ticket #131 for that issue.

[2013-01-08 09:31] isucan commented on #131
The issue is that manipulation_msgs is taken from deb rather than from source. I will fix this

[2013-01-08 09:35] isucan commented on #131
if you get the new rosinstall file, that should pull the additional repo. Please re-open if that does not work.

[2013-01-08 09:35] #131 closed, assigned to isucan

[2013-01-08 10:04] skohlbr commented on #131
Yes works, thanks for the very quick fix.

[2013-01-08 10:57] adamantivm commented on #130
I'm OK with that suggestion to start with
- Julian
  On Jan 8, 2013 4:46 AM, "isucan" notifications@github.com wrote:

[2013-01-08 16:13] mateiciocarlie commented on #127
Could you please point me to the API for it? Presumably it's a C++ API? Thanks!

[2013-01-08 17:15] marioprats commented on #130
Agree.
I'm also in favor of splitting the rviz plugin. Things specific to kinematic analysis / benchmarks should be separated from the motion planning plugin in my opinion. The new functionality is becoming large enough to deserve its own UI...

[2013-01-08 17:29] marioprats commented on #128
How do we know from a urdf / srdf what is a camera link and the chain it belongs to? if we can get this info, I would start using setFromDiffIK to make it just point towards a target.

[2013-01-08 21:00] isucan commented on #127
The input is actually specified as a planning request:
https://github.com/ros-planning/moveit_msgs/blob/groovy-devel/msg/MotionPlanRequest.msg
The part that corresponds to interpolated IK is specified as a sequence of constraints to be achieved in order, via straight lines, using this message:
https://github.com/ros-planning/moveit_msgs/blob/groovy-devel/msg/TrajectoryConstraints.msg

This functio

[2013-01-09 15:22] adamantivm opened #132 "Open file-choosers in last used location"
This is a low priority ticket, but I add it anyways since it could be useful for others and we might want to remember about it.

Currently most file choosers start in ~/.ros
Nevertheless, many times while composing complex scenes or working with multiple of them you need to repeatedly go dig into a sub sub sub directory to find your objects. It would save a lot of time if the file chooser remember

[2013-01-09 15:41] isucan commented on #132
+1

[2013-01-09 16:16] mateiciocarlie commented on #127
After looking through these API's, I was thinking how some of the needs of the grasping pipeline for InterpolatedIK could be implemented. In particular:

More important:
- when planning from pre-grasp to grasp, neither is specified as a joint state. The pre-grasp does not pre-suppose a particular joint config, rather, it is a Cartesian end-effector pose just like the grasp. In this sense, there is

[2013-01-09 16:20] mateiciocarlie opened #133 "Perform reachability benchmarks using InterpolatedIK"
Add functionality to benchmark such that a goal pose:
- is deemed REACHABLE only if an InterpolatedIK trajectory of at least X cm can be performed leading up to it, along the gripper approach direction.
- is deemed SOLVED if a motion plan from the arm's "rest state" can be found not to the pose itself, but rather to the start of the InterpolatedIK trajectory above (essentially the pre-grasp)

Note

[2013-01-09 16:36] isucan commented on #127
On Wed, Jan 9, 2013 at 6:16 PM, Matei Ciocarlie notifications@github.comwrote:

[2013-01-09 17:16] isucan opened #134 "too much computation in main loop of rviz plugin"
These lines

[code]

in the update() call in motion_planning_display.cpp perform too much computation for the frequency at which update() is called. This causes the GUI to hang. For some scenes where there are lots of goal pose markers things no longer work (eg, poping dialogs to import / export CAD files or scene descriptions)
Can we have this update called only when it is needed?
And as much as

[2013-01-09 17:59] marioprats commented on #134
Actually it seems the call to updateGoalPoseMarkers is only needed when dragging a multiple selection of goals, so we can probably place it in the dragging feedback. I'll take a look

[2013-01-09 19:27] marioprats commented on #124
This should be already fixed. Now the IM can be moved even outside the reachable space of the arm. Pressing Crtl-R will reset and bring them to the end-effector

[2013-01-09 19:27] #124 closed, assigned to nobody

[2013-01-09 19:29] mateiciocarlie commented on #127
Oh, sorry for the unclear parts. Let me try to expand:

Basically, yes - InterpolatedIK does not have a "start state" with joint angles - hence the "IK" part. We just have a gripper path along a straight line in Cartesian space, and are trying to find joint angles for all of it.

Only after the traditional InterpolatedIK was complete, we would run a motion plan request from the robot's start state

[2013-01-09 20:56] isucan commented on #127
Ah, ok. I understand it now. This is not exactly how things are running now for the pick & place. I'll think about this some more.

[2013-01-10 02:23] aleeper opened #136 "motion_planning_plugin doesn't work nicely with simulated or real robots"
After following the documentation here: http://moveit.ros.org/wiki/index.php/Groovy/PR2/Gazebo/Quick_Start

...I have found that Rviz never seems to be in sync with Gazebo.
Has something changed in the plugin, or is it a config/launch issue, or is the documentation broken?

[2013-01-10 04:27] marioprats commented on #134
Should be fixed b365a1abced1656f0a87f2e396936328202be77a

[2013-01-10 04:30] marioprats commented on #6
There is now a "Cartesian teleop" checkbox. When checked, velocity IK is called instead of the default position one, thus working similar to a cartesian controller. Please reopen if you see any issues.

[2013-01-10 04:30] #6 closed, assigned to sachinchitta

[2013-01-10 04:31] marioprats commented on #38
I'm closing this ticket since this is already working

[2013-01-10 04:31] #38 closed, assigned to marioprats

[2013-01-10 10:42] isucan commented on #136
This may be missing in the tutorial, but did you enable scene publishing in move_group? You can do that with dynamic_reconfigure. (By default nothing is published)

[2013-01-10 19:20] adamantivm commented on #134
I am trying to export the same problematic scene as before and unfortunately it keeps getting stuck after this update. Re-opening for the time being, let me know if I should address this somewhere else.

[2013-01-10 19:31] adamantivm commented on #134
Concretely the problem I'm experiencing is that, after loading a planning scene and hitting on the "Export As Text" button on the "Scene Objects" tab, the dialog window that opens appears completely blank. This happens consistently for some particular planning scenes which have multiple collision objects and goal poses. See attached screenshot.

![Screenshot from 2013-01-09 12:48:42](https://f.clo

[2013-01-10 19:32] isucan opened #137 "plugin segfaults when removing a group of goals"
It seems to be something that happens right after the goals go away

[2013-01-10 22:45] aleeper commented on #136
Ok changing the publishing parameter did the trick, though I had to do it manually since dynamic reconfigure doesn't seem to display the various parameter toggles correctly.

[2013-01-10 22:45] #136 closed, assigned to nobody

[2013-01-10 23:05] aleeper opened #139 "Provide Rviz-independent KinematicStateVisualizer for use in external nodes."
It seems the new KinematicStateVisualization is designed to use the c++ interface to an rviz::Robot. We need an implementation of this functionality that can be used outside of Rviz to send markers or interactive markers. (Gil's old visualization stuff had this.)

The intended use case would be a node that has a PlanningSceneMonitor, a RobotInteraction, several KinematicStateVisualizers, and a Pla

[2013-01-10 23:10] aleeper opened #140 "Ability to add menu callbacks to the interactive markers in robot_interaction."
Menus are very useful. Robot interaction should have an interface for defining menus to add to a marker along with an associated callback.

[2013-01-10 23:28] aleeper commented on #136
By the way, putting this parameter in the launching of move_group is one way to fix the problem:

<param name="planning_scene_monitor/publish_planning_scene" value="true"/>

[2013-01-10 23:48] marioprats commented on #134
Not sure on what's happening here. The update() call in motion_planning_display.cpp doesn't update the markers now, but the problem still seems related to the number of goals in the scene... It's weird that other dialogs work fine (add a new goal, remove, etc.), it only happens with the file load dialog. Even without goals, that dialog looks slower than usual to me, so I'm not sure if goals are th

[2013-01-11 00:12] aleeper commented on #139
Ok it seems the preferred way to do this is to publish empty PlanningScene messages to Rviz.
(Or, possibly to have a plugin which displays Robot State only.)

Closing this...

[2013-01-11 00:12] #139 closed, assigned to nobody

[2013-01-11 00:14] isucan opened #142 "add rviz plugin for rendering RobotState messages"
with the option of highlighting specified links.
This is to replace functionality mentioned in #139

[2013-01-11 01:18] #137 closed, assigned to marioprats

[2013-01-14 21:51] isucan opened #144 "add rviz plugin for benchmakring"
and move some of the stuff from the planning rviz plugin to the new one.

in particular:
definition of goal poses & start states, visualizing benchmark log data

[2013-01-17 03:27] marioprats opened #146 "offset when loading a planning scene for another robot"
Using the plugin I'm storing into the warehouse a planning scene created for one robot. When loading it with another radically different robot, it seems to be an offset in the collisions objects position. Interestingly, if instead of loading the scene from the warehouse, I export and import the geometry as text, it seems fine.

Digging into the code I've found the origin of the problem. Inside pla

[2013-01-17 04:00] isucan commented on #146
That transform is needed to take into account the reference frame of the poses specified for the shapes in the collision object, so we cannot remove it. Can you print the value of object.header.frame_id in that function for the different robots? Also print the transform t.translation(); Also, what is the fixed frame for rviz?

[2013-01-17 17:00] aleeper opened #147 "Include end_effector geometry in robot_interaction interactive_marker"
e.g. draw the pr2's gripper in the interactive marker published by robot interaction.

Note: how do we keep the gripper opening value in-sync with the robot? Maybe that has to be done manually by the person using it.

[2013-01-17 17:07] marioprats commented on #146
I'm printing the frame_id value when loading the scene for robot B, and it is "base_link", which was the model frame when I stored the scene for robot A. This frame may not exist for robot B, or may exist in a very different position. In my case it exists, but has an offset of z=0.05m wrt the model frame of B, which explains the offset in the objects pose. Shouldn't we place the collisions objects

[2013-01-17 19:30] acornacorn opened #148 "Rviz MotionPlanning arms get stuck while interacting"
When using the MotionPlanning plugin with pr2, with interact clicked, moving the manipulator moves the arm start and end states around.  After dragging for a while the arm gets locked in one position. The manipulator handle still moves but the arm no longer follows it.

[2013-01-17 19:35] acornacorn opened #149 "Rviz MotionPlanning manipulators do not snap back"
when using "interact" to move arms, manipulators are supposed to "snap back" to an acheivable pose when dragged far from the arm.  Currently they do not do this.  It seems like it does work when running both rviz and gazebo, but not when running only rviz.

[2013-01-17 20:08] marioprats commented on #149
We recently modified the way interactive markers behave, to allow the user move them beyond the arm workspace, even if the arm can't reach there. When running with gazebo, the planning scene is updated at some rate, and I think this resets the markers to the end-effector pose (should we change that too? or probably a checkbox to select the desired behavior?). Anyway, pressing CRTL-R should bring t

[2013-01-17 20:11] marioprats commented on #148
Could this be related to #149? if the interactive marker is outside the reachable space, the arm will stay in the last valid state. Bringing the interactive marker back into the workspace (or pressing ctrl-r), should make the arm jump to it.

[2013-01-17 20:33] isucan commented on #146
Ok, so this means the code id doing exactly what it should :) Do you define a virtual joint defined for these robots? If you define that, and it has the same name for all robots, the transform for that should be identity for all robots so the offset will go away.

[2013-01-17 22:49] sachinchitta opened #151 "Visualization of "path""
One of the four visualized robots correspond to the "Planned Path", which is meaningful while it is moving but after the planned path is completed it just sits there at the end pose of the previously planned path, so it would be nice to just make it disappear when the motion is done.

[2013-01-17 22:56] aleeper commented on #151
This is related to a question I have:
Publishing an empty planning scene to a PlanningSceneDisplay does not "clear" the robot... is there a way to do this?

[2013-01-18 00:07] isucan opened #152 "Group is not a chain"
[ERROR] [1358462356.694078746, 103.196000000]: Group is not a chain
[ERROR] [1358462356.694352270, 103.197000000]: Kinematics solver of type 'kdl_kinematics_plugin/KDLKinematicsPlugin' could not be initialized for group 'right_arm'

[2013-01-18 00:08] isucan opened #153 "crash on netbook"
Setup assistant UI doesn't fit on my netbook. Also, it crashes after hitting Load on the first page, here's the tail of the debug output
#10 0xb7fbaab9 in moveit_setup_assistant::SetupAssistantWidget::progressPastStartScreen() ()

   from /home/rwilson/moveit/devel/lib/libmoveit_setup_assistant_widgets.so
(gdb) down
#9  0xb7f99b6d in moveit_setup_assistant::RobotPosesWidget::RobotPosesWidget(QWidg

[2013-01-18 00:14] isucan opened #154 "rosdep needs to be called before roslaunch"
@dirk-thomas
When roslaunching stuff, weird errors happen if rosdep had not been called. This seems to be a ROS issue. Do we really need this step?

[code]

[2013-01-18 00:15] isucan opened #155 "warning in plan_execution"
printf warning in plan_execution

[2013-01-18 00:17] isucan opened #156 "add known poses in rviz plugin"
I made this fantastic "Hero" pose, but I can't get the robot there
in rviz :-(

It'd be much easier to set poses if I could use sliders (or names
of prior poses like Hero)

[2013-01-18 00:17] isucan opened #157 "failure when planning for the base"
When planning for the base...

[ INFO] [1358461818.407671134]: Waiting for MoveGroup action server (pickup)...
[ INFO] [1358461818.427931441]: Ready to take MoveGroup commands for group base.
[ERROR] [1358461838.322298930]: Unable to construct goal representation
[ WARN] [1358461838.356232369]: Fail: ABORTED: Unknown event
[ERROR] [1358461842.329565432]: Unable to construct goal representation
[ W

[2013-01-18 00:19] isucan commented on #151
@aleeper what do you mean by clear the robot?

[2013-01-18 00:29] dirk-thomas commented on #154
From what I get from the (too short) snippet: the rosdep database is not initialized yet and you try to roslaunch something. Then the error message makes perfect sense and you should perform the mentioned commands and then retry. Roslaunch (as well as all other tools) will not invoke rosdep init/update for you.

If I am missing something please provide context about your setup and what commands yo

[2013-01-18 00:29] isucan commented on #127
I believe this is now done in https://github.com/ros-planning/moveit_core/blob/groovy-devel/kinematic_state/include/moveit/kinematic_state/joint_state_group.h

[2013-01-18 00:29] #127 closed, assigned to nobody

[2013-01-18 00:35] isucan commented on #154
The problem is that which you metion. What I am saying is that this is a new requirement for ROS and quite confusing. I do not recall having to run rosdep before roslaunch. The names of the tools suggest to me they should not depend on each other, but if there is a good reason to have this dependency, when rosdep is installed, that initialization step should be done as a post-install step.

[2013-01-18 00:37] isucan commented on #151
we will handle adam's comment as part of #142

[2013-01-18 00:40] dirk-thomas commented on #154
The step to init/update rosdep is mentioned in the ROS install instructions explicitly.

The enhancement to perform database init on installation has been ticketed for rosdep ros/rosdep#31 but nobody has yet solved that. Patches are welcome :-)

[2013-01-18 03:16] marioprats commented on #146
Closing, will be addressed in ros-planning/moveit_core#17

[2013-01-18 03:16] #146 closed, assigned to nobody

[2013-01-18 23:35] acornacorn opened #159 "arm freezes in rviz after interacting"
After interacting with the green "Start State" arm for a while, the arm freezes and can no longer be moved.  The manipulator can still be moved around but the arm does not follow.  CTRL-R does nothing.

Repro:
1) Start rviz using the command
roslaunch pr2_moveit_config demo.launch

2) Set up as described in Step1 here:
http://moveit.ros.org/wiki/index.php/Groovy/PR2/Rviz_Plugin/Quick_Start

3) Tur

[2013-01-18 23:57] acornacorn commented on #159
Looks like this is related to recent changes.  Reverting moveit_ros to 51ccf2f43c3c70778be324c19ee2bfe23d52c555 fixes the problem.

[2013-01-18 23:59] acornacorn commented on #148
Looks like this is a dup of #159 . closing

[2013-01-18 23:59] #148 closed, assigned to nobody

[2013-01-19 01:12] marioprats commented on #159
Good to know! I was trying to reproduce without success!

On Fri, Jan 18, 2013 at 3:57 PM, Acorn notifications@github.com wrote:

[2013-01-20 03:26] isucan opened #160 "rviz plugin segfault"
all moveit rviz plugins segfault when removed or when rviz is stopped.

[2013-01-20 03:30] isucan opened #161 "execute paths from current robot state only"
when execution is included, the start state specified in the MotionPlanRequest should be ignored. the current state should be used. Maybe a warning should be issued if a different state is specified.

[2013-01-20 03:31] isucan opened #162 "names for background jobs in rviz plugin"
we should add names for background jobs, so the user can see what is going on.

[2013-01-20 17:44] isucan opened #163 "moveit rviz plugin segfaults when no kinematic model is available on param server"

[2013-01-20 18:03] #163 closed, assigned to isucan

[2013-01-21 22:48] isucan commented on #155
fixed

[2013-01-21 22:48] #155 closed, assigned to nobody

[2013-01-21 22:49] isucan commented on #149
this is caused by the same problem as #159

[2013-01-21 22:49] #149 closed, assigned to nobody

[2013-01-21 22:49] isucan commented on #159
i believe this is now fixed

[2013-01-21 22:49] #159 closed, assigned to nobody

[2013-01-21 22:50] isucan commented on #154
this is really an issue how how rospack detects dependency types. closing since not related to moveit

[2013-01-21 22:50] #154 closed, assigned to nobody

[2013-01-22 00:38] isucan commented on #161
fixed

[2013-01-22 00:38] #161 closed, assigned to isucan

[2013-01-22 00:51] KaijenHsiao commented on #161
Er.  I would say that the start state shouldn't be ignored--the current state should splice onto the front of the plan, if the two are a tiny bit different.  (And maybe a warning if the two states differ by too much.)

[2013-01-22 05:08] #160 closed, assigned to nobody

[2013-01-22 05:20] isucan commented on #153
I am going to blame this on the reduced instruction set of the cpu. Will reopen if needed.

[2013-01-22 05:20] #153 closed, assigned to nobody

[2013-01-22 05:21] #125 closed, assigned to isucan

[2013-01-22 05:30] aleeper opened #166 "Add ability to specify variable offsets to the control frame for end-effector markers"
I think I have code for this already, will try it tomorrow.

[2013-01-23 02:41] sachinchitta opened #168 "Add ability to initialize using static octomap to occupancy_map_monitor"
occupancy map monitor should be able to startup using a static occupancy map and then build on top of it with dynamic updates.

[2013-01-24 00:06] aleeper opened #171 "Add double-buffering to occupancy map updates"
Attempting to use a PlanningSceneMonitor at a high rate (e.g. in teleop) runs into lag issues with locking while the planning scene is being updated. This is particularly obvious when receiving Kinect point clouds to update the occupancy map.

Can we do some sort of double-buffering of the "heavy" parts of the planning scene?

[2013-01-24 02:11] marioprats opened #172 "robot urdf parameter name not configured for kdl_kinematics_plugin?"
I'm starting a PlanningSceneDisplay and setting the parameter that holds the robot urdf to something different than "robot_description". Everything seems to run fine except the kdl_kinematics_plugin, that still looks into "robot_description". Is there a way to propagate the user-defined parameter name down to the plugins?

[2013-01-24 03:06] isucan commented on #172
I'll look into it

[2013-01-24 22:56] #172 closed, assigned to nobody

[2013-01-25 16:58] marioprats opened #177 "render_shapes holds only one ogre material for all meshes"
...and this ogre material is initialized with the color of the first drawn mesh. As a result, all the meshes are rendered with the same color, even if their colors are actually different. This just happens for meshes. The rest of shapes primitives are rendered correctly.

I guess we should keep a vector of materials, and assign one to each new mesh. If this makes sense I can send a pull request.

[2013-01-25 17:27] isucan commented on #177
That makes sense. Pull request welcome :)

[2013-01-25 19:41] acornacorn commented on #151
Closing.  Fixed with pull request 167

[2013-01-25 19:41] #151 closed, assigned to acornacorn

[2013-01-25 20:47] #177 closed, assigned to marioprats

[2013-01-28 22:50] isucan commented on #147
is this done?

[2013-01-28 23:22] aleeper commented on #147
The mesh geometry is there. The marker won't "track" the state of the underlying links, e.g. if the gripper closes, unless you tell robot interaction to update the markers, at which point the new transforms are used.

I suppose we should close this for now, though, as that is a bit application specific, and shouldn't happen automatically in any case.

[2013-01-28 23:22] #147 closed, assigned to nobody

[2013-01-29 01:18] isucan opened #180 "default location for loading ros params"
When params are not found in ~ (eg, planning, kinematics) try to load the from a default location; eg., /moveit/defaults/planning
/moveit/defaults/kinmatics

[2013-01-29 01:25] isucan opened #181 "split planning/ into planning/ and common/"

[2013-01-29 01:26] sachinchitta opened #182 "rviz_plugin uses scene robot for setting current state for motion planning query"
rviz_plugin currently uses the scene robot for setting the current state for motion planning queries. So, if you move the base and then want to setup a query for the right_arm, the configuration of the base jumps back to where the scene robot is. It should instead use the new start state.

[2013-01-29 01:28] sachinchitta opened #183 "new button to set start state to goal state (or vice-versa)"
This would help when queries require moving the base of a robot especially.

[2013-01-30 23:14] marioprats commented on #129
The user will need to store and retrieve trajectories from the warehouse, as it is done with goals. Should we store TrajectoryConstraints messages? I guess we will need to create the corresponding MoveItMessageStorage specialized class into moveit_ros/warehouse. Does this make sense?

[2013-01-31 18:52] marioprats opened #185 "Store TrajectoryConstraints messages in the warehouse"
Will be needed for storing cartesian trajectories for benchmarking

[2013-01-31 18:55] marioprats opened #186 "Add support for cartesian trajectories in benchmarks"
Should update the benchmark service in order to pass cartesian trajectory constraints down to planners

[2013-01-31 18:59] marioprats commented on #144
_Update:_ There is a new tool under moveit_ros/benchmarks that already allows defining goals, states and visualizing benchmark results

<tt>rosrun moveit_ros_benchmarks benchmark_tool</tt>

Will close this ticket once we have removed the corresponding tabs in the moveit rviz plugin

[2013-01-31 20:19] marioprats commented on #130
_Update:_ It's already possible to visualize the benchmark results, but only if you have the output files generated by the benchmark tool. We should upload those results to a database so that everyone can get them. So leaving this open for now...

[2013-01-31 21:11] isucan commented on #144
agreed

[2013-02-01 02:01] marioprats commented on #185
Done in 47cec96aa904740abde67d2f53d0c8d8571ee930

[2013-02-01 02:01] #185 closed, assigned to marioprats

[2013-02-05 00:07] #144 closed, assigned to marioprats

[2013-02-05 00:08] marioprats commented on #134
This should be ok after the split

[2013-02-05 00:08] #134 closed, assigned to marioprats

[2013-02-05 00:21] marioprats opened #190 "generalize joint_state_group::computeCartesianPath"
Can we add a new method (possibly built on top of computeCartesianPath) that basically does the same but with a set of waypoints as input? We would use it for benchmarking cartesian trajectories without jumps in the joint state

[2013-02-05 00:26] isucan commented on #190
I think that joint_state_group is not really the place for such a function. We can think about perhaps adding a planner that does this. For now, I suggest maybe doing a for loop at the call site?

[2013-02-05 00:46] marioprats opened #191 "Make benchmark service more general"
Would it make sense to generalize the benchmark backend so that we can benchmark moveit-based functionality other than planners? The input to the benchmark service is a MotionPlanRequest, which is needed for planners, but we may need to benchmark reachability, trajectories (#190), interpolatedIK and other stuff that is part of moveit but lay outside planners.

I would propose to set the current im

[2013-02-05 04:31] isucan commented on #182
fixed in 1517aeb10c4c8d6a078ec9e4bd9e8f299213f173

[2013-02-05 04:31] #182 closed, assigned to nobody

[2013-02-05 04:31] isucan commented on #142
done

[2013-02-05 04:31] #142 closed, assigned to isucan

[2013-02-05 05:55] #156 closed, assigned to nobody

[2013-02-05 05:55] #183 closed, assigned to nobody

[2013-02-05 19:46] isucan commented on #152
fixed in moveit_core/12d12bfe5d8757e6d07b6a96fc6209e633779a4f

[2013-02-05 19:46] #152 closed, assigned to isucan

[2013-02-05 20:41] isucan commented on #157
Fixed
https://github.com/ros-planning/moveit_core/commit/49a7237bc6efe1c7cb24d7f95b2a98c9b1b746f8

[2013-02-05 20:41] #157 closed, assigned to nobody

[2013-02-05 21:33] isucan commented on #191
Yes, we need to do this, but we need to do things in a principled manner so that there is some communality in the code written. We should set up a meeting to discuss.
Add other interested parties?
Attn: @mateiciocarlie @sachinchitta @KaijenHsiao @adamantivm @acornacorn

[2013-02-06 01:53] mateiciocarlie commented on #191
Yes, we do need this functionality. I think Mario captured our current and future use cases very well. I could participate in the meeting, but I don't know if I would have much to add - between @marioprats and @isucan all the needed expertise is there :)

Is this a duplicate of #186?

[2013-02-06 02:02] mateiciocarlie commented on #190
I think this would just be another interface to the same functionality, namely computing a Cartesian Path. Sometimes you want to specify a start point, a direction, a distance, and a max jump (what we have now). For other use cases, you just want to specify the waypoints yourself. The functionality underneath is highly similar.

It feels OK to me for both interface to live in the same place.

[2013-02-06 02:57] marioprats commented on #191
Well, #186 is the special case for benchmarking trajectories. This one has more to do with refactoring the benchmark backend to better solve #186 and the others to come. @isucan let's have a talk tomorrow if you have time.

[2013-02-06 03:06] marioprats commented on #190
I agree both will be very similar. But we can start implementing it on the client side as Ioan suggests (need to first solve #191, since it needs to be called from benchmarks), and later move it into joint_state_group if it makes sense.

[2013-02-06 03:25] isucan commented on #191
Sounds good to me

[2013-02-06 06:24] sachinchitta commented on #186
The MotionPlanRequest already has trajectory constraints in it. Is this not sufficient for now - if parsing the whole message to figure out which case to solve for is an issue, we should move the trajectory constraints message out of the motion plan request. Otherwise, we should use the functionality from the current MotionPlanRequest message.

[2013-02-06 06:29] sachinchitta commented on #190
We are going to get an implementation of this from ros-industrial. joint_state_group would be the right place for integrating an implementation of this.

[2013-02-06 06:34] sachinchitta commented on #191
The benchmark service (as it exists) essentially wraps the current motion plan request. Some of the functionality here could still exist there: e.g. following cartesian trajectories. Other benchmarking services should use the corresponding msgs that already exist in moveit: e.g. all kinematics reachability messages should be based off the current IK calls (or something derived from them). Interpol

[2013-02-06 07:09] isucan commented on #186
I agree with Sachin; @marioprats and I will talk about this; This is covered by #191, so I will close this.

[2013-02-06 07:09] #186 closed, assigned to marioprats

[2013-02-06 07:10] isucan commented on #190
I don't think joint_state_group is the right place for this. We should talk about it some more, but this is not low level enough to exist in joint_state_group (or the robot_state library actually)

[2013-02-06 18:13] isucan opened #192 "split run_benchmark into lightweight node + library"

[2013-02-06 18:19] isucan opened #193 "move eef offset computation from benchmark core to benchmark gui"

[2013-02-06 18:42] isucan opened #194 "implement state storage tab in mp rviz plugin"

[2013-02-06 23:43] marioprats commented on #194
Hey, I'm not sure of what functionality are you expecting exactly. Should
the "Load state" button load states from the database? In that case, we
need another button for setting the current state of the robot to the
selected state, right? actually, should be two buttons? (start and goal)

On Wed, Feb 6, 2013 at 10:42 AM, isucan notifications@github.com wrote:

[2013-02-07 00:02] isucan commented on #194
Yes, make it as two buttons: load into start and load into goal.

[2013-02-07 22:19] isucan commented on #194
mario did this

[2013-02-07 22:19] #194 closed, assigned to marioprats

[2013-02-07 22:21] isucan commented on #190
done by mario

[2013-02-07 22:21] #190 closed, assigned to nobody

[2013-02-07 22:59] davetcoleman opened #196 "rviz dies when disabling plugin / re-enabling"
I've experienced multiple times issues with Rviz crashing whenever I disable the Motion Planning plugin, then re-enable it, when I road a config.rviz file that has the Motion Planning Plugin disabled, and sometimes just when I launch Rviz with the Motion Planning plugin enabled in the config file. I'm on shadow-fixed and MoveIt is installed from source with the latest, not sure what the issue is.

[2013-02-07 23:19] davetcoleman opened #197 "Weird EE interactive marker visual in Plugin"
The interactive marker of both the Start and Goal States of the Planning Request has odd visual as shown in picture below. It goes away when I leave Interact mode (ie switch to Move Camera mode). It appears to have a large square of infinite size starting at the origin of the gripper finger. Its probably related to the way I semantically defined my EE in the SRDF, but I'm not sure what to do and t

[2013-02-08 08:45] isucan commented on #196
I think I know what this is -- incorrect locking around query states. I believe it has been fixed in source and latest debs.

[2013-02-08 08:46] isucan commented on #197
can you send me an archive of the config folder so i can run this locally?

[2013-02-12 00:36] davetcoleman opened #198 "Remove need for Rviz to launch with kinematics.yaml parameters"
It seems counter-intuitive and unnecessary that the Motion Planning Plugin requires that Rviz first be launched with ROBOT_moveit_config/config/kinematics.yaml loaded into Rviz's namespace. If you fail to do this, the interactive markers will not work properly and no warning or error will appear explaining why. To reiterate, currently a launch file that starts rviz and uses the motion planning plu

[2013-02-12 00:39] isucan commented on #198
i agree. this is a duplicate of #180

[2013-02-12 00:39] #198 closed, assigned to nobody

[2013-02-12 01:13] davetcoleman commented on #197
To recreate the issue:
Setup this workspace for the ClamArm
https://github.com/davetcoleman/clam_catkin

Run these two commands:
roslaunch clam_bringup clam_simulation.launch
roslaunch clam_moveit_config_sim move_group.launch

Add the Motion Planning Plugin to Rviz and you should see the out-of-scale mesh when you are in Interact mode.
(Upon further investigation I see it is just the gripper mesh

[2013-02-12 22:37] davetcoleman commented on #197
I have submitted a pull request fix for this issue:
https://github.com/ros-planning/moveit_core/pull/45

[2013-02-12 22:37] #197 closed, assigned to nobody

[2013-02-12 23:40] davetcoleman commented on #196
This issue is still occurring with the latest source

[2013-02-14 21:39] davetcoleman commented on #107
I have not experienced this issue in quite a while, and think its safe to assume it is fixed.

[2013-02-14 21:39] #107 closed, assigned to sachinchitta

[2013-02-14 21:42] davetcoleman opened #202 "MoveGroupAction no longer generates trajectories with velocities"
Since the breaking API change when trajectories were switched to type robot_trajectory::RobotTrajectory, the follow_joint_trajectory action is no longer published from move_group with velocities. How do I enable this, or is this a bug? My trajectory controller is now unable to send commands to my robot's joint controllers.

[2013-02-21 16:34] davetcoleman opened #205 "Not Compiling"
I believe a change to moveit_msgs/action/Pickup.action was not committed because when I go to compile the latest MoveIt I get the error

[code]

[2013-02-21 17:01] davetcoleman commented on #205
Temp fix: add this to moveit_msgs/action/Pickup.action in the goal section:

[code]

[2013-02-21 17:29] isucan commented on #205
Sorry about that Dave! Your fix was actually correct. I forgot to push that repo.

[2013-02-21 17:29] #205 closed, assigned to isucan

[2013-02-22 19:08] davetcoleman opened #206 "How To Use Benchmark Tools"
I have MoveIt installed from source and it controls my robot correctly. I'd like to be able to benchmark various planner's performance. I tried following the instructions [here](http://moveit.ros.org/doxygen/moveit_benchmarking.html#visualizing_benchmark_results).

I have a launch file for starting the server:

[code]

Which I launch.

I have a config file:

[code]

I have a planning request using

[2013-02-22 20:26] davetcoleman commented on #206
Ioan has helped me through this issue, thanks!

The key was in ompl_planning.yaml in my MoveIt config package... add to the planning group:

[code]

[2013-02-22 20:26] #206 closed, assigned to isucan

[2013-02-22 22:20] davetcoleman opened #207 "Package naming inconsistency"
Package **moveit_ros_planning_interface** is found in folder **moveit_ros/interface** when it should follow the convention of the rest of the packages and be found in **moveit_ros/planning_interface**. Or we should rename the package simply **moveit_ros_interface**

[2013-03-08 18:14] marioprats opened #209 "addMesh method into PlanningSceneInterface??"
Would it make sense to create an 'addMesh' method to PlanningSceneInterface, similar to addSphere, addCone, etc. There is an implementation of it right now in the rviz plugin, I was wondering whether that should be moved here...

[2013-03-08 20:32] isucan commented on #209
Yes, we should add that. However that API will have to be reworked. Do you use that code? In C++ or Python?

[2013-03-08 20:35] marioprats commented on #209
In C++ I need to add a mesh to a planning scene. I took the implementation
from the rviz plugin and then I saw this API

On Fri, Mar 8, 2013 at 12:32 PM, isucan notifications@github.com wrote:

[2013-03-08 21:08] isucan commented on #209
You should not use this API for that.
You should either use getCollisionWorldNonConst()  on a scene, and
addToObject() there;
Or, if you have a moveit_msgs::CollisionObject, call processCollisionObject
on a PlanningScene instance.
Let me know if I can help. Thanks for pointing this out!

Ioan

On Fri, Mar 8, 2013 at 12:36 PM, marioprats notifications@github.comwrote:

[2013-03-08 22:22] marioprats commented on #209
That's what the rviz plugin is doing, and what I'm doing as well, with a
previous call to createMeshFromResource. But then I discovered the
PlanningSceneInterface API with other similar methods and was wondering
whether it should go there. But if not I will keep using addToObject.
Thanks!

On Fri, Mar 8, 2013 at 1:08 PM, isucan notifications@github.com wrote:

[2013-03-08 22:23] #209 closed, assigned to isucan

[2013-03-12 01:58] isucan commented on #202
This should be fixed.

[2013-03-12 01:58] #202 closed, assigned to nobody

[2013-03-12 01:58] isucan opened #210 "modify speed of trajectory execution (a scale) at runtime"
maybe a slider in the rviz plugin?

[2013-03-14 17:58] #88 closed, assigned to isucan

[2013-03-18 07:53] mikeferguson opened #211 "Rviz Motion Planning plugin grinds to a halt when set to monitored_planning_scene"
I can't seem to track down the cause, but when I upgraded from 0.3.21 to 0.3.24, I am no longer able to set "Planning Scene Topic" to "move_group/monitored_planning scene" without rviz grinding to a major halt.

[2013-03-18 13:13] skohlbr opened #212 "Planning scene meshes rendering issues (when added to demo.launch scenario)"
When launching the 'demo.launch' created by the setup assistant and adding a mesh, I get some issues with mesh rendering:
1. When first importing the mesh, backface culling seems to be inverted, drawing the backfacing polys instead of the front facing ones. One the mesh is attached to a frame of the planning scene, this effect disappears.
2. When playing back a planned trajectory, the mesh flicker

[2013-03-18 16:06] isucan commented on #211
Can you tell me what you are running to get this to happen?

[2013-03-18 16:09] isucan commented on #212
Can you try to set the scene alpha to 1.0 and see if that changes anything? i suspect that might be the issue for number (1)
For (2), I suspect you have multiple robots drawn in different colors, on top of each other. Can you try disabling some to see if anything changes?

[2013-03-18 17:43] isucan commented on #162
also this would be useful to avoid duplicating certain jobs

[2013-03-19 06:53] #211 closed, assigned to isucan

[2013-03-20 16:49] JeremyZoss opened #214 "Rviz - recurring WARN msgs if "empty" link in robot URDF"
My robot models (URDFs) sometimes contain an "empty" link corresponding to the tool-flange center.  This link is specified with a fixed transform to the last arm link, but no geometry data.  The link is included in the manipulator chain because it's important to include this final transform in the manipulator kinematics.

However, when I add a moveit MotionPlanning plugin to rviz, rviz begins thro

[2013-03-21 16:13] isucan commented on #214
This is very curious. I thought I had fixed this and I can't see what would cause the problem. Are you running with moveit_ros\* 0.3.25 or newer?

[2013-03-21 16:59] JeremyZoss commented on #214
My ros-groovy-moveit-ros package is version 0.3.21 (20130305-1648), which looks to be the latest version available in the primary release repository.

Feel free to mark this fixed if you've already got it handled.  Just list what version you think it's fixed in (0.3.25?), so I can keep an eye out for it.

[2013-03-21 17:03] isucan commented on #214
I believe it is fixed in 0.3.25, which will be out to public very soon.

[2013-03-22 05:31] mikeferguson commented on #211
@isucan could this same code be in the "show trail" part of the plugin? I notice that showing a trail also really, really slows things down (it used to not be the fastest thing, but now seems much slower).

[2013-03-22 05:33] mikeferguson commented on #214
Yep, this is fixed by 0.3.25, which is currently on shadow-fixed (I have empty links as well).

[2013-03-22 05:49] isucan commented on #211
I think this is the same issue. A fix was pushed to rviz, but I am not sure if relased. With the new rviz, things should be back to normal.

[2013-03-23 10:17] skohlbr commented on #212
Sorry for the slight delay. Updates:
1. Yes, setting alpha to 1 solves the visualization issue.
2. I just discovered that the scene object is drawn once for the start, goal and scene state. If the robot remains stationary, all of those will be on top of each other, leading to the flickering effect I observed.

[2013-03-23 17:01] isucan commented on #212
Thanks! Should I then mark this as closed?

[2013-03-29 20:39] davetcoleman opened #219 "manipulation/pick_place needs better user feedback"
often i make modification to my pick and place request and mess something up, but it is extremely hard to debug because move_group does not give any useful debug messages other than stuff like "invalid constraints". it would be nice for it to say "goal block doesn't exist" for example, or "approach distance unfeasible" or "no grasps are found to be valid". i've had this issue so many times.

[2013-03-31 09:13] skohlbr commented on #212
Yes, can be marked closed.
1) is a minor inconvenience, might make sense to set alpha to 1 by default to prevent things from looking weird at the beginning
2) also more of an inconvenience. This happens everytime a collision object has the same pose in the start and goal config though, so there might be more people wondering about this in the future.

[2013-03-31 10:46] skohlbr opened #220 "Linker error in moveit_setup_assistant using from source install instructions"
Building MoveIt! from source as described in the installation instructions on the wiki currently fails due to a linker error in moveit_setup_assistant:

<pre>
Linking CXX executable /home/kohlbrecher/moveit_tmp/devel/lib/moveit_setup_assistant/moveit_setup_assistant
/home/kohlbrecher/moveit_tmp/devel/lib/libmoveit_robot_model.so: undefined reference to `moveit::Profiler::start()'
/home/kohlbrecher

[2013-03-31 10:49] skohlbr commented on #220
Just realized this could be directly ticketed in the moveit_setup_assistant issue tracker, feel free to MoveIt! ;) there.

[2013-03-31 21:54] davetcoleman commented on #220
This is not a Setup Assistant issue but a moveit_core/robot_model issue. I'll wait for @isucan for the official fix but it looks like [this commit](https://github.com/ros-planning/moveit_core/commit/768030e582bcc11155d1ec8b3824971d1aa3dbc3) broke the build with the profiler. A temp fix is to do this:

[code]

To undo that bad commit.

[2013-04-01 01:34] davetcoleman commented on #56
I've fixed the bad error message issue when you forget to assign a group: https://github.com/davetcoleman/moveit_ros/commit/e1e01d14dd34e25f91411a099a43db9695f5728e

However I'm still getting "Exception thrown while deserializing service call" even though the benchmark server works fine.

[2013-04-01 03:35] davetcoleman commented on #56
I looked into this further and the service response being sent back is 141 KB - that really isn't very big. Should we consider putting this bug on the [roscpp](https://github.com/ros/roscpp_core) issue list?

[2013-04-01 17:42] isucan commented on #220
Sorry about that -- I forgot to link a lib. Should be fixed now 06fb40fa07570d2b2cbf3da58c70a1e4c2c36a1c

[2013-04-01 17:42] #220 closed, assigned to nobody

[2013-04-01 17:53] davetcoleman opened #222 "Merge Benchmark Server and Client"
After discussing with Ioan it seems there is no need to have a service request between the server and client. I believe @isucan agreed to make this merge.

[2013-04-01 17:55] isucan commented on #222
will do

[2013-04-01 18:28] marioprats commented on #222
Does that mean there will be a C++ API for benchmarking?

On Mon, Apr 1, 2013 at 10:55 AM, isucan notifications@github.com wrote:

[2013-04-01 18:29] isucan commented on #222
Yes. Do you foresee a problem with such a setup?

[2013-04-01 18:38] marioprats commented on #222
No, it's actually a +1 !!

On Mon, Apr 1, 2013 at 11:29 AM, isucan notifications@github.com wrote:

[2013-04-03 12:17] skohlbr opened #223 "Move MoveGroupCapability implementations into library"
To be able to extend/change the current move_group_action_server implementation, it would be useful to have all MoveGroupCapabilities implementations provided in a library that can be used in another package. Alternatively, they could be moved to a separate package that can be depended on.

The patch below splits up the current moveit_ros_move_group package setup to provide a library and a executa

[2013-04-03 16:18] isucan commented on #223
how urgent is this feature request? we are now working on making the capabilities plugins, so it will be easy to configure move_group -- load which capabilities you want, and you would also get each capability as a lib. would this address your issue?

[2013-04-04 09:57] skohlbr commented on #223
Perfect, that is a even cleaner solution. Everything I'm doing is extremely urgent ;) but knowing the plans I'll use a temporary hack and switch to plugins once available.

[2013-04-08 22:44] davetcoleman opened #224 "Build error"
I got the following error today when I tried to resync my code with the latest on github:

[code]

Googling revealed I needed to install `libglew-dev`. This might be a bug because before doing that I re-followed all the instructions on the moveit installing from source page, including updating ros-groovy-moveit-source-build-deps

[2013-04-12 20:20] aleeper commented on #171
I'm closing this with the understanding that this was more or less addressed by changing how it locks internally.

[2013-04-12 20:20] #171 closed, assigned to nobody

[2013-04-12 20:21] aleeper commented on #166
This was done in January.

[2013-04-12 20:21] #166 closed, assigned to nobody

[2013-04-12 20:23] aleeper commented on #140
Just adding this issue to the alpha milestone. I think this is an important feature if we mean to let people write flexible applications using MoveIt.

[2013-04-15 09:09] isucan commented on #224
i added a deb in the corresponding meta package.

[2013-04-15 09:09] #224 closed, assigned to nobody

[2013-04-15 19:06] isucan commented on #222
done

[2013-04-15 19:06] #222 closed, assigned to isucan

[2013-04-15 19:19] #214 closed, assigned to nobody

[2013-04-15 19:20] #115 closed, assigned to isucan

[2013-04-15 19:22] isucan commented on #191
we made some progress in this direction, closing for now. we should open a new ticket when we come back to this.

[2013-04-15 19:22] #191 closed, assigned to nobody

[2013-04-15 19:23] isucan commented on #196
is this still happening?

[2013-04-15 19:25] isucan commented on #222
turns out this was dup of #192

[2013-04-15 19:25] isucan commented on #192
done

[2013-04-15 19:25] #192 closed, assigned to isucan

[2013-04-15 19:25] isucan commented on #162
done

[2013-04-15 19:25] #162 closed, assigned to isucan

[2013-04-15 19:26] #212 closed, assigned to nobody

[2013-04-15 20:19] davetcoleman commented on #196
will check soon.

[2013-04-15 20:20] davetcoleman commented on #222
nice!

[2013-04-15 20:37] skohlbr opened #225 "Interactive Markers disappeared in Motion Planning/Rviz in recent versions"
I generated a robot config using the setup assistant a few weeks ago. Running the demo.launch today for testing changes I had to perform to comply with the new kinematics_base interface (I use ikfast based custom plugins), I noticed that Interactive Markers are no more appearing in rviz. I removed/re-added the display to no avail. Any suggestions what changes I have to perform or what the issue is

[2013-04-15 20:45] isucan commented on #225
Does the plugin connect successfully to the motion planner? i.e., can you still plan motions (even if with the same start & goal locations)?
Try setting the interactive marker size to something above 0, in the rviz display.
If that does not work, enable debugging (run rqt_logger_levels) for move_group and check what debug messages say when you change groups in the rviz plugin (and perhaps attach t

[2013-04-15 21:01] skohlbr commented on #225
Yes, it is still possible to connect to the planner. Setting random start and goal configurations, planning, and visualizing movement all work. Setting IM size to be greater than 0 had no effect (sounds like a good idea though).

The move_group output looks pretty normal. Switching between left and arm groups results in the following INFOs (DEBUG was enabled for nearly every part of move_group wit

[2013-04-15 21:06] isucan commented on #225
This is a bit odd. I would expect at least some warnings about no markers found. Is it possible for you to e-mail me your config + urdf + meshes?
Things to re-check: Do you have an end effector defined? (not needed with recent versions) Is your group a chain? Is TF being published? Is there an IK solver associated to the group? Can you confirm the IK solver gets initialized successfully ?

[2013-04-16 01:33] davetcoleman commented on #196
unable to check because of https://github.com/ros-planning/moveit_planners/issues/9

[2013-04-16 07:31] isucan commented on #223
MoveGroup capabilities are now plugins

[2013-04-16 07:31] #223 closed, assigned to nobody

[2013-04-16 07:50] #207 closed, assigned to nobody

[2013-04-16 11:11] isucan commented on #225
can you check again with the most recent version?

[2013-04-16 14:50] skohlbr commented on #225
Just checked the PR2, it has IMs. Will try most recent version now. I saw KinematicsBase has changed again, so will have to fix our own plugins also.

[2013-04-16 15:29] skohlbr commented on #225
Works with most recent version. I also noticed I had a non-existing fixed frame set in my rviz, so the IMs probably couldn't be transformed properly. Being used to how rviz normally works (e.g. not visualizing the robot when wrong frame selected), I failed to notice the error. It might make sense to show a more prominent warning somewhere when this is the case.

Thus, case closed from my POV. Than

[2013-04-16 15:43] #225 closed, assigned to nobody

[2013-04-16 23:32] po1 opened #226 "[warehouse] initialize_demo_db.cpp does not compile with boost-program-options 1.49.0.1"
As pointed out on stackoverflow, an #include is probably missing.
http://stackoverflow.com/questions/13432201/whats-wrong-when-the-compiler-tells-me-a-variable-has-initializer-but-incomple

[code]

[2013-04-19 07:22] #226 closed, assigned to nobody

[2013-04-19 22:35] marioprats opened #229 "planning_scene_monitor dies after attaching an object to a link"
I have a planning scene monitor that is running a state updater and the occupancy map monitor. I see the octomap and the robot being updated in rviz. Then I attach a collision object to a robot link, and works fine. But after a while (some 20-30 seconds), the planning scene monitor dies. This is the trace:
#0  0x00007ffff5553038 in __fprintf_chk () from /lib/x86_64-linux-gnu/libc.so.6
#1  0x00007f

[2013-04-19 22:39] isucan commented on #229
When did you last update? I fixed an issue a few hours ago that could very well be the cause of this. Can you update just in case?

[2013-04-19 23:28] marioprats commented on #229
Seems to be a problem with the mesh. Closing, thanks!

[2013-04-19 23:28] #229 closed, assigned to nobody

[2013-04-22 13:49] isucan opened #230 "warning that should not be there when multiple joint_states publishers exist"
[code]

[2013-04-22 14:54] #230 closed, assigned to isucan

[2013-04-23 09:26] wouterbac opened #231 "Cannot start motion planning plugin in rviz: XML is malformed or missing"
Hello,

Last week I succesfully started the pr2 demo when issuing: roslaunch pr2_moveit_config demo.launch

However, today I tried it again and received the following error:
auto-starting new master
process[master]: started with pid [31286]
ROS_MASTER_URI=http://localhost:11311

setting /run_id to d0e7c046-abf6-11e2-ad4e-f0def10f53ff
process[rosout-1]: started with pid [31299]
started core service

[2013-04-23 09:48] wouterbac commented on #231
Allright, solved it! It seems I manually need to source the following files:
source /opt/ros/groovy/setup.bash
source ~/ros/workspace/moveit/devel/setup.bash

Actually I already had these lines in my .bashrc. But, for some reason these files are not sourced correctly...

These are the last lines of my .bashrc:
source /opt/ros/groovy/setup.bash
source /opt/halcon/.profile_halcon
source ~/ros/worksp

[2013-04-23 11:02] isucan commented on #231
This line should not be in your environment:
`export ROS_PACKAGE_PATH=~/ros/workspace:~/ros/trunk:$ROS_PACKAGE_PATH`
That adds your build/ folder to the package path and that is what was causing your problems.

Please follow the instructions on
http://moveit.ros.org/wiki/index.php/Groovy/Installation
The bottom part has instructions on how to build from source.

[2013-04-23 11:02] #231 closed, assigned to nobody

[2013-04-24 09:19] isucan opened #232 "make constraint space approximation db construction a move_group capability (move from ompl_planner)"

[2013-04-24 21:57] davetcoleman opened #233 "Segfault in moveit_run_benchmark"
After running a set of benchmarks the program segfaults in its deconstructors. I can't track down what the problem is but it starts in KinematicsBase:

GDB Output:

[code]

[2013-04-25 06:28] davetcoleman commented on #196
I haven't seen it really, I'll just go ahead and close this ticket for now.

[2013-04-25 06:28] #196 closed, assigned to nobody

[2013-04-25 21:50] davetcoleman opened #235 "moveit_benchmark_gui wish list"
I realize dev has stopped on the GUI right now, but in case I or someone else gets around to it...
- Fix the Load benchmark results button to recognize generated .log files
- Ability to auto load URDF and SRDF from launch file instead of file menu
- When changing planning groups reload the Robot Interaction markers
- Ability to plan within the benchmark tool

[2013-04-28 22:47] taogao opened #236 "Getting full planning scene from the /move_group/monitored_planning_scene topic"
the /monitored_planning_scene only publishes the diffs. It will be great if one can change this behavior and make it publishes the whole planning_scene.

[2013-04-29 10:40] isucan commented on #236
That would be too expensive. The topic behaviour should remain as it is, but I will add a move_group capability that publishes planning scenes (service) on request

[2013-04-29 18:28] isucan opened #237 "remove collision_map from PlanningSceneWorld.msg"
we can still accept CollisionMap messages, but merge them into a collision object

[2013-04-29 19:23] isucan commented on #236
done

[2013-04-29 19:23] #236 closed, assigned to nobody

[2013-05-01 01:51] davetcoleman opened #238 "Motion Planning Rviz Plugin - Feature Request"
Some things I've noticed while using the plugin that would be nice to be fixed:
- The Stored States tab should be automatically populated when connected to the MoveIt Warehouse just as the Stored Scenes tab is
- The Stored States tab should allow states to be renamed by double clicking on them, just as the Stored Scenes tab allows
- The Planning tab should be able to save the workspace parameters

[2013-05-02 23:52] karyuv opened #239 "Compilation error on moveit_ros while installing Moveit from source"
Hello everyone, I was trying to do source based installation of recently released "Moveit". When the installation reached 61% I am getting the following error:

[ 60%] Building CXX object moveit_ros/planning/trajectory_execution_manager/CMakeFiles/test_controller_manager.dir/test/test_app.cpp.o
Linking CXX shared library /home/karthik/groovy_workspace/moveit/devel/lib/libtest_controller_manager_pl

[2013-05-02 23:56] isucan commented on #239
Hey, I removed a repo that I thought made it to public -- it seems it has not yet. Just get the rosinstall file again
https://github.com/ros-planning/moveit_docs/blob/master/moveit.rosinstall
please make sure you do not have any moveit debs or geometric_shapes installed, and compile again.

[2013-05-03 01:42] karyuv commented on #239
That did the compilation good. But now I am getting new issues which did not get last time(when I was working with earlier versions). This is the new error while trying to run a launch file

[rospack] Error: stack/package pr2_description not found
[librospack]: error while executing command

[2013-05-03 01:48] sachinchitta commented on #239
Try sudo apt-get install ros-groovy-pr2-common (that's where the pr2_description package is). Alternatively, if you don't care about the PR2 specific packages, remove moveit_pr2 from your src directory.

[2013-05-03 01:48] karyuv commented on #239
Issue solved I installed the pr2-common package all working well now.  Thanks a lot!!

[2013-05-03 07:58] #239 closed, assigned to nobody

[2013-05-03 15:35] isucan commented on #117
done

[2013-05-03 15:35] #117 closed, assigned to isucan

[2013-05-03 15:36] isucan commented on #105
no longer applies

[2013-05-03 15:36] #105 closed, assigned to sachinchitta

[2013-05-03 15:37] #63 closed, assigned to nobody

[2013-05-12 07:57] mikeferguson opened #241 "touch_links for attached object being manipulated gets duplicated each time it is published"
I subscribed to move_group/monitored_planning_scene a noticed that the "touch_links" array of my attached object had grown to a huge size. Basically, it appears that every time planning_scene_monitor publishes a new message, the set of actual touch links keeps getting appended to the list of touch links, causing the number of links to be N*M where N is the correct # of touch links and M is the num

[2013-05-14 15:36] sotte opened #243 "No moveit_commander in"
Hey,

first of all: great work! I really like moveit!

After the RosCon I wanted to play with the `moveit_commander`. So I followed this [tutorial](http://moveit.ros.org/wiki/index.php/Groovy/MoveIt_Commander). Sadly there is no `moveit_commander`.

I'm running a current version of groovy with basically all moveit packages installed, especially the `ros-groovy-moveit-commander` package. Am I missi

[2013-05-14 19:41] isucan commented on #243
hey, this is an issue of installation location. i will address his soon, but in the meantime you can run the executable by hand: it is located in /opt/ros/groovy/bin ;
could you close the issue if you find it?

[2013-05-16 08:44] sotte commented on #243
Thanks, it's there.

[2013-05-16 08:44] #243 closed, assigned to nobody

[2013-05-16 19:31] d-om opened #244 "Benchmarking RRT* failure"
since MoveIt! - release:

executing a benchmark for RRT\* with "RRTStarkConfigDefault" (all default settings and launch files generated by the SetupAssistant) causes a moveit_benchmark - crash with exit code 11. (All other planner work fine)
Inside the Rviz-Moveit_plugin "RRTStarkConfigDefault" works correctly.

[2013-05-16 19:34] d-om opened #245 "Rviz-Movit-Plugin dies due to scene-name conflict"
When a scene is named like an allreday existing one, Rviz-Movit-Plugin dies after the warning messsage was confirmed.

[2013-05-18 19:33] isucan commented on #245
I can't seem to be able to replicate this.
Can you run moveit_rviz.launch separately with the argument debug:=true and send me a backtrace?
Ideally multiple backtraces if they are not always the same.

[2013-05-20 14:49] d-om commented on #245
I send you the entire log-folder.

I hope this is what you wanted.

Von: isucan [mailto:notifications@github.com]
Gesendet: Samstag, 18. Mai 2013 21:34
An: ros-planning/moveit_ros
Cc: rosrookie
Betreff: Re: [moveit_ros] Rviz-Movit-Plugin dies due to scene-name conflict (#245)

I can't seem to be able to replicate this.
Can you run moveit_rviz.launch separately with the argument debug:=true and sen

[2013-05-20 15:06] isucan commented on #245
I don't think the folder made it through. In any case, what I would actually like is a backtrace, not the log folder.
so you run the command

[code]

Once you make the code crash, you will be dropped to a command line (gdb) where you would time the command 'bt'
That gives you a  backtrace. Please resize the window it if is too long. Then paste that text to this ticket.

[2013-05-20 15:47] d-om commented on #245
Sorry, but I’m not dropped to a command line.( I do not use any IDE. )

There is only the Terminal with the red error-message.

(The debug-param was set )

Von: isucan [mailto:notifications@github.com]
Gesendet: Montag, 20. Mai 2013 17:06
An: ros-planning/moveit_ros
Cc: rosrookie
Betreff: Re: [moveit_ros] Rviz-Movit-Plugin dies due to scene-name conflict (#245)

I don't think the folder made it th

[2013-05-20 21:23] joschu opened #246 "Non-deterministic scene loading behavior in RViz plugin"
I'm trying to publish a planning scene from an external  program, by publishing to the /planning_scene topic.
Half the time I run my program, the planning scene objects show up RViz, and half the time they don't.
I checked with "rostopic listen" that the message on /planning_scene is getting published 100% of the time.

Here's a minimal script

import roslib.message as rm
import moveit_msgs.msg as

[2013-05-20 22:17] isucan commented on #246
This is not very scientific, but can you increase your delays? and maybe add a spin at the end of your code?
Can you also run a rostopic echo in a separate terminal to check whether the data gets published?

[2013-05-20 22:54] joschu commented on #246
Good guess :)
Changing to rospy.sleep(.1) makes it always fail
Changing to rospy.sleep(.5) makes it always succeed

I was indeed checking that the data got published with "rostopic echo" (I mistakenly said "rostopic listen" in my original post)

I added spin() at the end of my code, no effect with sleep(.1) or sleep(.5)

[2013-05-21 07:39] #246 closed, assigned to nobody

[2013-05-21 12:59] joschu commented on #246
I take it that this is a ROS bug, not a MoveIt bug?
Is it a known issue that messages are sometimes lost (non-deterministically), depending on how much time you leave before and after publishing?

[2013-05-21 13:11] isucan commented on #246
unfortunately, yes, it is a ros bug

[2013-05-21 13:21] adamantivm commented on #246
I would be willing to bet it's a problem with the way topic publishers are implemented in rospy.
What is almost certainly happening is that when you call rospy.Publisher(), ROS needs to follow a multi-step network protocol to connect with subscribers of the topic (in this case MoveIt). If you issue a "publish()" right after you create the Publisher, then chances are that the publisher will try to

[2013-05-21 22:43] aleeper commented on #140
Closing as #247 addressed this.

[2013-05-21 22:43] #140 closed, assigned to nobody

[2013-05-22 16:00] isucan commented on #241
I think this is now fixed:
https://github.com/ros-planning/moveit_core/commit/8b825d318c0624e862c6c84306153f796cb2c376

[2013-05-22 17:46] davetcoleman opened #248 "Installing MoveIt from Source"
I get a warning:

[code]

Is this ok? Can we fix swig-wx?

[2013-05-22 18:01] davetcoleman commented on #248
http://answers.ros.org/question/63238/why-does-moveit-depend-on-swig-wx/

[2013-05-22 18:34] davetcoleman commented on #248
Answered on answers.ros.org

[2013-05-22 18:34] #248 closed, assigned to davetcoleman

[2013-05-23 18:45] mikeferguson commented on #241
So I did a full source build last night -- still looks like this is happening (at least on Maxwell, didn't try the PR2 tutorial).

[2013-05-25 16:59] andfil opened #249 "gomp"
The code was not building for me until I've changed a line in perception/point_containment_filter/CMakeLists.txt from

target_link_libraries(${MOVEIT_LIB_NAME} ${catkin_LIBRARIES} ${Boost_LIBRARIES})

to

target_link_libraries(${MOVEIT_LIB_NAME} ${catkin_LIBRARIES} ${Boost_LIBRARIES} gomp)

Let me know if I did something wrong. If it's correct, I guess it makes sense to fix it in the main source t

[2013-05-25 17:47] andfil opened #250 "libbost"
Should I install a particular version of boost / python or modify some CMakeLists.txt to make moveit_ros compile from source?
I get a bunch of errors in the lines of [the output is abbreviated, there are many more undefined references in libbost_python.so]:

Linking CXX executable
devel/lib/pr2_moveit_tutorials/planning_pipeline_tutorial
/usr/lib/gcc/x86_64-linux-gnu/4.6/../../../../lib/libboost_p

[2013-05-25 21:24] isucan commented on #250
This is weird. What compiler /linker are you using?

[2013-05-25 21:25] isucan commented on #249
Not sure... things seem fine for other machines. Given your other boost linking errors, are you sure everything is ok on your machine?

[2013-05-25 22:50] andfil commented on #250
If catkin/make use gcc, then mine is 4.6:

$ls -l /usr/bin/gcc
lrwxrwxrwx 1 root root       7 Oct 25  2012 /usr/bin/gcc -> gcc-4.6

$dpkg -l|grep gcc
ii  gcc                                         4:4.6.3-1ubuntu5                                    GNU C compiler
ii  gcc-4.6                                     4.6.3-1ubuntu5                                      GNU C compiler
ii  gcc-4.6-base

[2013-05-25 22:53] andfil commented on #249
It seems pretty normal, runs a lot of ROS stuff for me, and compiles small ROS packages nicely. I'll be happy to supply any env/config information that would be helpful.

[2013-05-29 13:29] pirobot opened #251 "Enhancement: Set different colors on individual scene objects in RViz plugin"
It would be nice to set different colors on individual scene objects in the RViz plugin.  Apparently, one way to do this would be to add a color picker to the RViz plugin and call setObjectColor() on the maintained planning scene.

[2013-05-29 13:41] pirobot opened #252 "Clicking "Import File" for adding scene objects in RViz plugin should remember last directory location"
As of version 0.4.0, when importing scene objects in the RViz plugin by clicking the Import File button, the default directory location always go back to ~/.ros instead of the last location used.  Expected behavior is to remember the last location used to select a file to import and start there for the next import.

[2013-05-29 14:20] isucan commented on #252
dup of #132

[2013-05-29 14:20] #252 closed, assigned to nobody

[2013-05-31 12:39] isucan commented on #249
I added a missing link flag: https://github.com/ros-planning/moveit_ros/commit/831fd397dba7dbd6fbfcacdb6d8de287620be4b0

[2013-05-31 12:39] #249 closed, assigned to nobody

[2013-06-04 11:25] rguzman1 opened #254 "Plan for the planar joint - move robot base platform - fails"
ROS - groovy desktop full - from debs
Ubuntu 12.04 LTS

Package pr2_moveit_config

Lines added to ompl_planning.yaml

base:
  planner_configs:
    - PRMkConfigDefault
    - RRTkConfigDefault
    - RRTConnectkConfigDefault
    - RRTStarkConfigDefault
  longest_valid_segment_fraction: 0.1
  projection_evaluator: joints(world_joint)

Error : When I press plan the move_group process always dies:

[ IN

[2013-06-04 11:27] isucan commented on #254
fixed in https://github.com/ros-planning/moveit_core/commit/b47894f681c1cc48e4552b2ee9e68760ed08d505

[2013-06-04 11:27] #254 closed, assigned to nobody

[2013-06-05 13:50] shaun-edwards opened #256 "Trajectory execution time check can't be disabled"
When executing a trajectory takes longer than the trajectory duration (as defined by the trajectory), the execution manager cancels the motion.  For some physical robots the actual trajectory execution may not match the desired (i.e. it takes slightly longer for various reasons).  It would be nice if this check could be disabled since for some robots this is not an error condition, but just the wa

[2013-06-05 13:55] rguzman1 opened #257 "Document use of position-only IK and <6DOF IK"
Hi,

is there a way to use the interactive markers in MoveIt in order to mark only a goal position (not fixing also the euler angles)?

With this 5DOF arm, I am only able to set new target locations moving in XZ, but not in Y as the wrist has only 2DOF and it cannot adapt.

Thanks,

   Roberto

![captura de pantalla de 2013-06-03 17 30 27](https://f.cloud.github.com/assets/4610087/612182/67c22c06-

[2013-06-05 15:35] isucan commented on #257
Right now there is not such functionality exposed. However, it should be
easy to add I think. @acornacorn the stuff you added for controlling just
certain dof in robot interaction - is it easy to expose that functionality
with a checkbox of some kind? The more difficult part will be generating
the ik state; is your ik solver ignoring orientation?
On Jun 5, 2013 4:55 PM, "rguzman1" notifications@gi

[2013-06-05 17:03] acornacorn commented on #257
The main issue was with the IK.  In the robot where we needed this we had a custom IK solver which would accept position and return joint angles that placed the eef at that position with arbitrary orientation.  Sachin @sachinc may have suggestions about how to create such an IK solver for your robot.

Once you have a set of goal joint angles the planner can plan to that goal.  If I understand corr

[2013-06-05 17:47] marioprats commented on #257
I did this once (in the before-MoveIt era) by creating a custom IK solver
with KDL (inheriting from ChainIkSolverVel) and overloading CartToJnt to
compute a new Jacobian where the rows corresponding to the orientation were
set to zero. I guess it would be possible to do the same inside a MoveIt IK
plugin.

On Wed, Jun 5, 2013 at 10:03 AM, Acorn notifications@github.com wrote:

[2013-06-05 18:30] sachinchitta commented on #257
Position only ik is now configurable directly in moveit if you are using the KDL kinematics solvers. To enable it, you will have to manually edit your kinematics.yaml file. E.g., if your group is named arm, add the following line for (only) that particular group:
position_only_ik: True

This is an experimental feature not yet tested on a variety of robots so please let me know how it works.

[2013-06-05 20:53] wjwwood opened #259 "moveit_ros_move_group: linkedit error on OS X"
When building `moveit_ros_move_group` on OS X I get:

[code]

[2013-06-05 20:58] wjwwood commented on #259
The symbol `move_group::MoveGroupCapability::getActionResultString` is in `move_group_capability.h/cpp` which is only used as part of the `move_group` executable, but it looks like the `moveit_move_group_default_capabilities` library needs symbols from it.

I think the correct thing to do here is to build another library which both the `move_group` executable and the  `moveit_move_group_default_ca

[2013-06-05 21:07] wjwwood commented on #259
Adding the `src/move_group_capability.cpp` file to the `moveit_move_group_default_capabilities` library target works also. Do you have preference on the fix?

[2013-06-05 21:17] wjwwood opened #260 "moveit_ros_manipulation: linkedit error on OS X"
When building `moveit_ros_manipulation` on OS X I get:

[code]

This looks similar to #259

[2013-06-07 12:01] t-thanh commented on #250
Just add -lpython2.7
--target_link_libraries(<your_excutable_file> ${catkin_LIBRARIES} ${Boost_LIBRARIES})
-+target_link_libraries(<your_excutable_file> ${catkin_LIBRARIES} ${Boost_LIBRARIES} -lpython2.7)
In the CMakeLists.txt

[2013-06-13 20:57] pirobot opened #264 "No active joints or end effectors found"
For certain URDF models, the following warning appears when running the Motion Planning display in RViz under ROS Groovy and Ubunutu 12.04/11.10:

[ WARN] [1371154634.404314355]: No active joints or end effectors found. Make sure you have defined an end effector in your SRDF file and that kinematics.yaml is loaded in this node's namespace.

I'm wondering if this warning is generated when the "grip

[2013-06-14 15:27] rguzman1 commented on #257
Hi, thank you all for your comments.

I did test the KDL kinematic solver with the position_only_ik: True, but this gives absolute freedom to the orientation and is not operative to teach the robot localizations.

I have been able to do some testing creating a custom plugin following the instructions in http://moveit.ros.org/wiki/Kinematics/IKFast and choosing the TranslationDirection5D IK Type fr

[2013-06-19 12:55] #259 closed, assigned to nobody

[2013-06-19 12:56] #260 closed, assigned to nobody

[2013-06-19 12:58] isucan commented on #181
changed my mind about this, for now

[2013-06-19 12:58] #181 closed, assigned to nobody

[2013-06-19 14:24] #256 closed, assigned to isucan

[2013-06-20 06:06] isucan commented on #264
I just checked the code. The warning seems fine. Could it be it comes from a group that indeed does not have this info?
I added the group name to the warning, and turned into an INFO -- it is ok to not have such info.

[2013-06-20 15:45] #210 closed, assigned to nobody

[2013-06-20 15:45] isucan commented on #210
this is now a trajectory execution param

[2013-06-21 11:12] mikeferguson opened #267 "Can't move "base" groups with demo.launch"
It used to be that one could define a "virtual joint" for the base, and then move the robot around using the RVIZ demo.launch. However, on both my robot and the pr2 demo, it appears this no longer works, I get an endless stream of:

....
[ERROR] [1371812948.209745239]: Link state 'odom_combined' not found
[ERROR] [1371812948.248529050]: Link state 'odom_combined' not found
[ERROR] [1371812948.2757

[2013-06-21 20:27] mikeferguson commented on #257
@rguzman1 Have you tried connecting to the robot over the ROS API with your IKFast plugin? The turtlebot_arm uses a TranslationDirection5D IK plugin, and I found that while it did weird things with the RVIZ plugin, if I was sending move_group action commands outside of RVIZ, everything worked perfectly as expected -- I presume that something funky is going on in the interpretation of the request o

[2013-06-23 14:56] #264 closed, assigned to nobody

[2013-06-24 12:22] rguzman1 commented on #257
Hi, no I didn't try that. I will check how it is done from the turtlebot_arm.

Meanwhile I have been able to solve it hacking the kdl plugin, but I am not sure if this is the right way.

See  : http://www.youtube.com/watch?v=m_oqufE-5gY&feature=youtu.be

[2013-06-24 14:17] sachinchitta commented on #257
Do you have a pointer to your hacked version? This is something we should be able to integrate - its just a question of how you manually specify a constraint like this easily but I think we could do it with some yaml parameters.

[2013-06-24 14:47] rguzman1 commented on #257
You just need to add the following lines in the

483  bool KDLKinematicsPlugin::searchPositionIK function

and right after the

552   int ik_valid = ik_solver_pos_->CartToJnt(jnt_pos_in_,pose_desired,jnt_pos_out_);

I have just realized that the planning is not working, but I am not sure this is related with this hack...

[code]

[2013-06-24 21:18] adamjardim commented on #257
The position only IK command for the kinematics.yaml (position_only_ik: True) really should be documented somewhere.  The only mentions of this as an option are directly in the code and this thread.

[2013-06-26 19:21] #267 closed, assigned to nobody

[2013-06-28 07:46] jbohren opened #270 "ros-planning github org icon"
![ros_planning_dots](https://f.cloud.github.com/assets/1253450/720647/e566583a-dfc6-11e2-9c60-5d6252bc6635.png)

[2013-06-28 19:29] davetcoleman commented on #270
Sweet!!

[2013-07-08 07:58] fmessmer commented on #123
I started something to address the issue of finding "whole body"-IKs.
Find the respective topic on the moveit-users mailinglist:
https://groups.google.com/forum/#!topic/moveit-users/rN0r0dV0pxk

[2013-07-08 18:35] sachinchitta opened #275 "Add approximate ik checkbox to interaction gui"
This should default to unchecked and false. Checking it should set options.return_approximate_solution to true allowing the KDL (or other) plugins to return the solutions they have found (after collision checking). Note that this will be useful particularly for arms with less than 6 dof.

[2013-07-09 17:11] davetcoleman commented on #270
bump

[2013-07-09 19:34] #275 closed, assigned to isucan

[2013-07-15 18:20] davetcoleman opened #276 "make hydro-devel default branch"
in the github repo settings? same for all other moveit_\* repos.

[2013-07-16 05:37] isucan commented on #276
Yes, we will do this after Hydro release.

[2013-07-16 08:50] petrikvladimir opened #277 "Move_group symbol lookup error"
After installing from source and running 'roslaunch pr2_moveit_config demo.launch' the following error occurred:

[code]

[code]

[2013-07-16 14:41] isucan commented on #277
Is this on ROS groovy or hydro? Is this a fresh checkout, or have you compiled before?

[2013-07-16 14:52] petrikvladimir commented on #277
It is ROS groovy.
It is compiled otherwise move_group node will not be available (if we are not wrong).
We followed tutorial on the wiki: http://moveit.ros.org/wiki/Installation .

[2013-07-16 14:56] isucan commented on #277
I am wondering if yo updated packages in the meantime. Can you rm -rf your devel & build foders, then run catkin_make again.

[2013-07-16 15:25] petrikvladimir commented on #277
Packages were not changed.
I removed devel and build folders and catkin_make it again but result is the same.

wstool output:

[code]

[2013-07-18 12:31] petrikvladimir commented on #277
I installed moveit on another computer and everything works fine so I reinstalled groovy and moveit on problematic machine but it didn't help. Do you have any idea where the problem can be?

[2013-07-18 23:51] bit-pirate opened #278 "MotionPlanning RViz plugin has problems displaying trajectory execution"
Short version:

When hitting _execute_ after planning finished, the executed robot motion is not displayed properly in RViz. At first, the robot is not moving at all, then suddenly it jumps and one can see the last bits of the executed trajectory.

One can verify that the robot motion can be shown properly by adding another RobotModel instance to RViz.

Apparently, the Plan & Execute option does n

[2013-07-19 07:17] #277 closed, assigned to nobody

[2013-07-22 17:29] Intelligrated opened #280 "Unattach function"
The API does not have an option to unattach an object that was previously attached right now. That said, functions for attaching / detaching objects could be added so that, after a pick operation, a place one is not necessary. Besides that, sometimes the place operation fails and MoveIt needs to be restarted to unattach the object.

[2013-07-29 11:10] isucan commented on #276
done

[2013-07-29 11:10] #276 closed, assigned to nobody

[2013-07-30 18:46] marioprats opened #283 "Increase the minimum end-effector marker size?"
I spent some time trying to figure out why my end-effector interactive marker was not showing up in rviz, until I realized it was already there but so small that I couldn't see it!

The piece of code related to this is in RobotInteraction::computeGroupMarkerSize (moveit_ros/robot_iteraction/src/robot_interaction.cpp):

[code]

Do you think we could increase this constant to something bigger, 5cm m

[2013-07-30 18:59] #283 closed, assigned to isucan

[2013-07-30 18:59] isucan commented on #283
Thank you! That is a good point. Fixed.

[2013-08-02 12:06] liborw opened #286 "Is move_group able to handle partial joint_state messages?"
We are working with dual-arm robot, and the driver sends joint states for each arm separately. As stated [here](http://ros-users.122217.n3.nabble.com/merging-different-joint-states-td2289189.html) the robot_state_publisher should be able to handle this. Does move_group handle this as well?

[2013-08-02 12:11] isucan commented on #286
Yes, move_group will split the motion plan and send it to the corresponding controllers.
Please see this:
http://moveit.ros.org/wiki/Executing_Trajectories_with_MoveIt!

Please feel free to send e-mail to the moveit-users mailing list if you have further questions.

[2013-08-02 12:11] #286 closed, assigned to nobody

[2013-08-05 12:31] isucan commented on #286
And I just realized I read this wrong :) You were talking about joint states, not output trajectories.
Nevertheless, the answer is the same. You can send joint states in multiple messages and this is fine.
Sorry about this!

[2013-08-05 14:35] isucan commented on #280
There should now be attach / detach commands in C++ and Python. (Not well tested yet)

[2013-08-05 14:35] #280 closed, assigned to isucan

[2013-08-05 14:37] isucan commented on #250
Is this still a problem? I have yet ben unable to reproduce this.

[2013-08-05 14:37] isucan commented on #244
This was a bug in OMPL that got fixed since.

[2013-08-05 14:37] #244 closed, assigned to isucan

[2013-08-05 14:38] isucan commented on #237
done

[2013-08-05 14:38] #237 closed, assigned to isucan

[2013-08-05 14:39] isucan commented on #233
This is an order of destruction problem caused by some caching of shared ptrs in OMPL. This was changed to weak ptrs to avoid the problem.

[2013-08-05 14:39] #233 closed, assigned to nobody

[2013-08-07 19:24] sachinchitta opened #291 "move_group crashing occassionally"
This happens when it is using the depth map updater. Here's a backtrace:
#0  0x00007ffff2cdd430 in octomap::OcTreeDataNode<float>::writeValue(std::ostream&) const ()

   from /home/sachinc/code/hydro-pick-place/devel/lib/libmoveit_planning_scene.so
#1  0x00007ffff2cdd50b in octomap::OcTreeDataNode<float>::writeValue(std::ostream&) const ()

   from /home/sachinc/code/hydro-pick-place/devel/lib/lib

[2013-08-11 20:28] mikeferguson opened #294 "Rviz plugin requires kinematics.yaml to be loaded into it's parameter namespace?"
I just spent a considerable amount of time tracking down why my interactive markers would not show up anymore, only to realize my problem was that I loaded rviz using "rosrun rviz rviz" and not using the rviz launch file from my moveit config.

The only error message that pops out of rviz is:

[code]

It wasn't until I turned on DEBUG for the ros.roscpp logger that I saw the parameter loading fail

[2013-08-11 22:50] isucan commented on #294
This is a duplicate of #180

[2013-08-11 22:50] #294 closed, assigned to nobody

[2013-08-12 06:43] davetcoleman commented on #294
heh i've had this issue many times. i'm the one who added the info message "Make sure you have defined an end effector in your SRDF file and that kinematics.yaml is loaded in this node's namespace." :)

[2013-08-12 06:49] mikeferguson commented on #294
I guess the "this node" didn't correspond to "RVIZ" in my head...

[2013-08-12 07:14] isucan commented on #294
Believe it or not, I have had this same issue several times. It is relatively easy to fix (does my suggestion in #180 make sense?). I will do it this week.

[2013-08-12 07:41] mikeferguson commented on #180
The description above is a bit different from  the description either #198 or #294. Ideally we would:
- Check <node>/<group>/kinematics
- If not found, check <move_group>/<group>/kinematics
- If still not found, check <move_group>/defaults/kinematics

(I presume here that "moveit" above was meant to be "move_group" -- if not, and we want to put these under moveit, then the setup assistant should p

[2013-08-12 08:06] isucan commented on #180
I actually meant "moveit" to be a namespace for all moveit default parameters. So my thinking is something like
check ~/kinematics; if not found, check /moveit/defaults/kinematics. I would actually change the launch files to load params in the default location, but users then have the option to override the settings by specifying them in the node namespace.

[2013-08-13 07:06] isucan opened #295 "use serialization to communicate msgs between py bindings and C++"

[2013-08-13 16:46] isucan commented on #295
fixed

[2013-08-13 16:46] #295 closed, assigned to isucan

[2013-08-14 20:48] ngtienthanh opened #296 "take long time to visualize the result in rviz"
System: 12.04 32bit - most updated moveit package with branch groovy-devel

In short:

I have just updated moveit in my PC.
With demo.launch, after press button 'plan', this message below appears right a way
[ INFO] [1376512733.368372250]: Created 100 (51 start + 49 goal) states in 66 cells (30 start (27 on boundary) + 36 goal (36 on boundary))
[ INFO] [1376512733.368451417]: Solution found in 0.3

[2013-08-14 21:23] isucan commented on #296
Are you running rviz on the same machine as the rest of the system? This really sounds like time is out of sync when using multiple machine.s

[2013-08-14 21:47] ngtienthanh commented on #296
I only run the demo.launch on 1 computer. So it is not the case here.

[2013-08-16 14:40] ngtienthanh commented on #296
It has the same problem when installing with ros-pkg in synaptic. Please check!

[2013-08-21 23:04] diecastzinc opened #299 ".deb missing file (libmoveit_semantic_world.so)"
Just updated to latest hydro debs (8/20), and I'm missing libmoveit_semantic_world.so, which is required by the rviz plugin. Looks like ros-hydro-moveit-ros-perception package needs to be added as dependency to -full etc.

[ERROR] [1377124453.758253085]: PluginlibFactory: The plugin for class 'moveit_rviz_plugin/MotionPlanning' failed to load.  Error: Failed to load library /opt/ros/hydro/lib/libm

[2013-08-22 15:20] isucan commented on #299
Ouch. Sorry about that. The install rule for the lib is missing. I'll fix it asap.

[2013-08-27 15:49] cheffe112 opened #300 "moveit_ros_planning_interface dependency triggers ros::init() error"
When I accidently add the moveit_ros_planning_interface dependency to one of my projects not containing any code other than a .cpp file with the contents

[code]

, I reproducibly keep getting runtime errors like "You must call ros::init() before creating the first NodeHandle".

I don't know whether this dependency is needed by the end user under any circumstances; if not, maybe some kind of warni

[2013-09-04 14:23] isucan commented on #300
Can you give me a backtrace? I tried to replicate this and things seem to work for me.

[2013-09-04 18:14] cheffe112 commented on #300
Meanwhile I found out that the error appears only if I add dependencies to some of my other selfmade packages (which I accidently still had included when the error appeared first, sorry for the sloppiness). The error goes away if I remove these dependencies.
However, I've never had any problems with those packages, even if I added dependencies to lots of other selfmade and standard ROS packages. T

[2013-09-06 00:22] bit-pirate opened #302 "Broken libpython3.2-dev deb crashes source built"
For my hydro source install on Precise I had to manually install python3.2-dev to get the planning interface compiling.

Shouldn't that be listed in the package.xml/CMakeLists.txt?

[2013-09-06 08:42] isucan commented on #302
Hmm. The need for python would be in package.xml, and it is there. I am not sure what is going on. Do you have other python versions installed?

[2013-09-06 15:41] davetcoleman opened #303 "Unnecessary Error Message at Startup"
Whenever I use MoveIt now I get a red error message in my console:

[code]

It seems this is just an unused feature and should only be a warning, if that. I tried to make the change myself but I see that it would also mute real errors that could arise within the visualization code in file:

`moveit_ros/visualization/motion_planning_rviz_plugin/src/motion_planning_frame.cpp
`

[2013-09-06 15:45] isucan commented on #303
I agree. I can fix it at some point. I will not mind a pull request either :)

[2013-09-07 06:14] bit-pirate commented on #302
True and it resolves to python-dev on Ubuntu. However, I needed python **3.2** -dev. Might this needs to be specified differently?

[2013-09-07 09:37] bit-pirate opened #304 "Why absolute default topic names"
My MoveIt stopped working, when I started to use the newest source.
Looking further into it, I realised that some topics are not connected any more.

The related topics are the ones from the planning scene monitor, which are subscribed to using this root handle, and from the current state monitor, i.e. joint states.

What did exactly change since the released version and why?

For our use cases we

[2013-09-07 09:59] isucan commented on #304
Nothing changed recently with topics. Can you be more specific about which topics are not connected?

[2013-09-07 10:02] bit-pirate commented on #304
Sorry, just figured out what really went wrong: Looks like the new version uses _absolute_ default topic names. Is there a reason for that?

Removing the trailing "/" solves this issue for me.

PS: I'm still using a several weeks old moveit config. Maybe the new setup assistant solves this issue.

[2013-09-07 10:33] isucan commented on #304
Can you please be more specific about which topics you are talking about?

[2013-09-07 10:37] bit-pirate commented on #304
Sure, I adjusted the default topics below in `moveit_ros/planning/planning_scene_monitor/src/planning_scene_monitor.cpp`.

[code]

PS: I'm sorry, I got confused. This change was already in the released (Hydro) version. I just made the jump from Groovy to Hydro and now going back and forward between the released and hydro-devel versions.

[2013-09-07 10:46] isucan commented on #180
i made kinematics be read from robot_description_kinematics if parameters not found under ~

[2013-09-07 10:53] #304 closed, assigned to nobody

[2013-09-07 10:54] #180 closed, assigned to nobody

[2013-09-08 12:34] bit-pirate opened #306 "Poses of SolidPrimitive and Mesh are treated differently when attaching objects"
When attaching objects, it looks like the pose of SolidPrimitive is interpreted as being relative to the attached link, while the pose of Mesh is interpreted relative to the header's frame_id. Is this supposed to work like that? If yes, it should be mentioned in the message comments.

[2013-09-08 20:00] isucan commented on #306
I just looked at the code again. I am pretty sure the poses are processed the same way. Are you sure you are setting the frame_id the same way? Meshes may also appear to be positioned differently because of the transform the CAD file was saved with.

[2013-09-09 02:20] bit-pirate commented on #306
I'm using the mesh file from the household_objects_database. When adding them to the robot, I have their pose relative to "base_footprint", which I put in the header's frame_id of the CollisionObject. It works fine like that.

Afterwards I added a simple shape, aka SolidPrimitive. I passed in the same pose as for mesh, since I expected it needs to be relative to "base_footprint" as well. However,

[2013-09-09 06:58] davetcoleman opened #307 "Mimic joint support broken in latest source"
Since updating my source install of MoveIt with the latest robot_model and robot_state changes, mimic support seems to have broken. When launching move_group I get:

[code]

Where those two joints worked previously by mimicking their l_finger counterparts.

[2013-09-09 19:47] davetcoleman opened #309 "Attached Collision Objects Disappearing"
With the latest source build, when a collision object is attached to a robot link, it disappears in rviz and an error is thrown in move_group when one tries to run a place command using this attached object.

I get messages like

[code]

[2013-09-10 16:37] isucan commented on #306
Is it possible to send me a bit of code that exhibits this behaviour? (I'd like to be able to replicate it, as I do not see potential issues right now)

[2013-09-10 16:37] isucan commented on #303
fixed

[2013-09-10 16:37] #303 closed, assigned to nobody

[2013-09-12 06:13] bit-pirate commented on #302
Btw, this is the error showing up when compiling:

[code]

[2013-09-12 07:17] bit-pirate commented on #302
libpython3.2 get's pulled in when installing ros-hydro-moveit-full. Currently it looks like it has to do with this bug: https://bugs.launchpad.net/ubuntu/+source/python2.7/+bug/941362
I have this broken symlink, too.

[code]

I manually added the soft link `libpython3.2mu.so.1 -> libpython3.2mu.so.1.`, which makes the error go away. However that can't be the right solution ...

I checked the movei

[2013-09-12 07:57] bit-pirate commented on #302
https://github.com/ros-visualization/python_qt_binding/issues/7

[2013-09-12 08:46] bit-pirate commented on #302
OK, after talking with @stonier we came to the conclusion that the CMakeLists for the `planning_interface/py_bindings_tools` should explicitly look for version 2.7. Otherwise it will pick up the latest one, i.e. 3.2, for which the `-dev` version is not installed, because of the ROS/rosdep default mentioned above. Since the dev version is not installed, the symlink is missing and the build fails.

[2013-09-12 17:22] #302 closed, assigned to nobody

[2013-09-19 14:02] sashalambert opened #312 "Workspace constraints for manipulation"
It would be nice to have a bounding volume on motion planning over the entire model ex. arm moving in a constrained work cell.

[2013-09-19 14:07] sashalambert opened #313 "Joint limits in Cartesian Path planning"
Apparently there's a dependency missing such that joint limits are enforced for computeCartesianPath.

[2013-09-19 16:35] davetcoleman commented on #312
A bounding volume workspace for planning already exists in MoveIt - do you mean have it automatically resize to the size of your URDF model?

[2013-09-19 16:38] isucan commented on #312
what is missing is that bounding volumes are not imposed unless you are using SE2 / SE3 state spaces. So... you cannot constrain the motion of an end effector, for example.

[2013-09-23 07:02] tfoote opened #314 "ros-hydro-moveit-ros-perception is trying to build against ros-hydro-pcl"
http://jenkins.ros.org/view/HbinP32/job/ros-hydro-moveit-ros-planning_binarydeb_precise_i386/38/console

[code]

This should be a rosdep not a system dependency. I think that this just needs a debian increment with an up to date rosdep.  @wjwwood can you confirm?

This appears to be breaking all of the moveit hydro debbuilds: http://www.ros.org/debbuild/hydro.html

[2013-09-23 07:10] wjwwood commented on #314
No it needs to change it's package.xml to use the new rosdep rule and then be released again, similar to this change:

https://github.com/ros-perception/perception_pcl/commit/8acdf7d38a36ab62ebdc1ed2cf483d6ebc1f9831#L0L22

[2013-09-23 07:30] isucan commented on #314
The package actually does not need to depend on pcl, just pcl_conversions. There was a forgotten build dep in package.xml which I have removed, but have not gotten around to re-releasing the debs (trying to fix more things). I am almost done with my fixes though, I'll try to release something new by the time you wake up :)

[2013-09-23 07:51] tfoote commented on #314
Awesome! That will get us close to being able to do another hydro sync by fixing the majority of the remaining regressions.

[2013-09-23 20:27] davetcoleman commented on #314
oops ignore that reference - not really relevant to this discussion. though we are having pcl issues as well

[2013-09-23 22:02] isucan commented on #314
debs seem to have built fine. closing this; please reopen if i missed something

[2013-09-23 22:02] #314 closed, assigned to nobody

[2013-09-24 06:20] bit-pirate commented on #309
I ran into the same issue just yesterday. When a collision object is added to the scene and then attached via RViz to the robot it disappears.

Can't reproduce the same behaviour by manually publishing normal and attached collision objects though.

[2013-09-24 06:42] isucan commented on #309
I fixed some bugs related to this just yesterday, but there is one issue I did not (and not really sure it is an issue).
If you attach a body by clicking in rviz, and you are also listening to a monitored planning scene, the object will disappear. It gets added to the state of the scene maintained by rviz but then the objects are not known to move group, so at the next scene update, they are remov

[2013-09-24 07:03] bit-pirate opened #315 "[perception] octomap not properly cleared when collision model is added"
When adding collision models into the planning scene, the octomap voxels covered  by the shape of the collision object don't get properly cleared (some remain).

This issues is described in more detailed (including pictures) on the mailing list: https://groups.google.com/forum/#!topic/moveit-users/T2feBu5uNos

I'm not sure, if this is a bug in the code, a performance issue or a wired synchronisati

[2013-09-24 07:33] davetcoleman opened #316 "Incorrect Collisions Detected"
I've had this issue since getting Baxter, but I'm trying to really track it down now. As seen in the image, the elbow and forearm are in collision with the pedestal (collisions marked bright green).

![incorrectcollisionchecking](https://f.cloud.github.com/assets/561060/1197992/2da7cd2c-24eb-11e3-95f8-1178955f8cd5.png)

Looking at the robot_model with collision visuals enabled, you can see this do